<div class="spacer"></div>
<o-body-style only-render-attribute-to-css background-color-prop="#003b4c" color="#ffffff" h-color-var="#ffffff" h1-font-size-var="2.75em">
    <style>
        :host {
            --nature-wrapper-justify-content:flex-start;
        }
    </style>
    <o-wrapper namespace="nature-wrapper-" simulate-children="3"> 
        <div>
            <h2 class="font-size-h1">L'Eveil Durable</h2>
            <p>Nous diminuons notre impact environnemental en proposant des solutions durables à nos clients et en
                optimisant notre
                propre fonctionnement. Nous transmettons notre expertise afin que chacun puisse avoir les outils pour
                participer à notre
                démarche de développement durable.</p>
        </div>
        <div>
            <h2 class="font-size-h1">Le Bien-être Client</h2>
            <p>Nous mettons le client et son bien-être au cœur de notre réflexion. C’est pourquoi nous incluons nos
                clients dans notre
                démarche et le développement des solutions proposées.</p>
        </div>
        <div>
            <h2 class="font-size-h1">L’Esprit Communautaire</h2>
            <p>Nous bénéficions mutuellement des retours de nos clients, du savoir de nos fournisseurs et de
                l’expérience de notre
                équipe. Nous savons nous remettre en question et c’est ensemble que nous trouvons des solutions
                appropriées pour
                avancer. Nous nous réunissons et nature& nous réunit.
            </p>
        </div>
    </o-wrapper>
    <o-wrapper namespace="nature-wrapper-" simulate-children="3">
        <div>
            <h2 class="font-size-h1">La Transparence</h2>
            <p>Nous nous comportons de manière respectueuse et exemplaire en appliquant sans concession les principes et
                règles de nos
                métiers. Nous sommes à l’écoute et transparents sur notre approche et dans notre communication.</p>
        </div>
    </o-wrapper>
</o-body-style>
<div class="spacer"></div>
<o-wrapper namespace="nature-wrapper-">
    <o-body-style class="first-mobile" only-render-attribute-to-css
        background-prop="url('../../../../img/pattern-flower.svg')" background-color-prop="#D48232"
        img-object-fit-var="cover" img-height-var="100%" background-size-prop="100% 100%"
        padding-prop="calc(var(--content-spacing)*2) 0 calc(var(--content-spacing)*2) calc(var(--content-spacing)*4) !important"
        h-color-var="var(--m-white)"
        padding-prop-mobile="calc(var(--content-spacing)*2) calc(var(--content-spacing)*2) 0 calc(var(--content-spacing)*2)  !important"
        h-color-var="var(--m-white)">
        <div style="position:relative;height:100%;">
            <h2 class="font-size-h1"
                style="position:absolute;z-index:2; top:calc(var(--content-spacing)*2); left:calc(var(--content-spacing)*2);">
                Produits</h2>
            <a-picture defaultSource="../../../../../src/img/nature-maman-fille-pomme.png"></a-picture>
        </div>

    </o-body-style>
    <o-body-style class="first-mobile" only-render-attribute-to-css background-color-prop="#D48232"
        padding-prop="calc(var(--content-spacing)*2) calc(var(--content-spacing)*2) calc(var(--content-spacing)*2) 0 !important"
        padding-prop-mobile="0 calc(var(--content-spacing)*2) calc(var(--content-spacing)*2) calc(var(--content-spacing)*2) !important">
        <div style="background-color:white; height:auto; padding:calc(var(--content-spacing)*2)">
            <p>Notre mode de vie a changé ainsi que nos habitudes et attentes. Avec le style de vie bio, nous mettons du
                sens au coeur de nos vies, nous partageons et apprenons. Nous évoluons ensemble vers une société
                bienveillante et
                respectueuse. Nous
                nous réunissons, et nature& nous réunit. Naturez-vous, naturons-nous ! Retrouvez-nous dans nos magasins
                de Migros Balexert et Migros Plainpalais. Notre mode de vie a changé ainsi que nos habitudes et
                attentes. Avec le
                style de vie bio, nous mettons du sens au coeur de nos vies, nous partageons et apprenons. Nous évoluons
                ensemble vers une société bienveillante et
                respectueuse. Nous</p>
        </div>


    </o-body-style>
</o-wrapper>
<div class="spacer"></div>
<o-wrapper namespace="nature-wrapper-">
    <o-body-style only-render-attribute-to-css background-color-prop="#CADFBB" color-var="var(--color-secondary);">
        <div class="spacer-half"></div>
        <h2 class="font-size-h1">Produits</h2>
        <p>Dans les magasins nature& de Balexert et Plainpalais, nous vous proposons un assortiment complet, jusqu'à
            6’000 références bio et plus de 600 marques bio spécialistes telles que Alnatura, Bonneterre, et Pain des
            Fleurs. Grâce à un grand choix alimentaire, non-alimentaire, vrac et des produits pour régimes spécifiques
            (sans gluten, végane), nous couvrons tous vos besoins.</p>
    </o-body-style>
    <o-body-style class="first-mobile" only-render-attribute-to-css
        background-prop="url('../../../../img/bown_pattern.svg')" background-color-prop="#94BD75"
        background-position-y-prop="bottom" img-height-var="100%" img-object-fit-var="cover">
        <a-picture defaultSource="../../../../../src/img/Magasin nature pain bio.PNG"></a-picture>
    </o-body-style>
</o-wrapper>
<h2>below only mobile pattern without overflow</h2>
<o-body-style only-render-attribute-to-css position-prop="relative" emotion-default-width-var="100%"
    background-prop-before-mobile="url('../../../../img/bown_pattern.svg')"
    background-position-y-prop-before-mobile="top">
    <a-emotion-pictures namespace="emotion-default-">
        <a href="#"><a-picture picture-load defaultSource="../../../../img/nature_entree_magasin_.png"
                alt="randomized image"></a-picture></a>
    </a-emotion-pictures>
</o-body-style>
<h2>below only mobile pattern</h2>
<o-body-style only-render-attribute-to-css emotion-default-width-var="100%"
    background-prop-before-mobile="url('../../../../img/bown_pattern.svg')"
    background-position-y-prop-before-mobile="top">
    <a-emotion-pictures namespace="emotion-default-">
        <a href="#"><a-picture picture-load defaultSource="../../../../img/nature_entree_magasin_.png"
                alt="randomized image"></a-picture></a>
    </a-emotion-pictures>
</o-body-style>
<h2>below pattern</h2>
<o-body-style only-render-attribute-to-css emotion-default-width-var="100%"
    background-prop-before="url('../../../../img/bown_pattern.svg')" background-position-y-prop-before="top">
    <a-emotion-pictures namespace="emotion-default-">
        <a href="#"><a-picture picture-load defaultSource="../../../../img/nature_entree_magasin_.png"
                alt="randomized image"></a-picture></a>
    </a-emotion-pictures>
</o-body-style>
<o-wrapper namespace="nature-wrapper-" overlay-mobile>
    <o-body-style width="30%" only-render-attribute-to-css nature-wrapper-padding-var="0"
        nature-wrapper-padding-mobile-mobile-var="0" img-height-var="100%" img-object-fit-var="cover">
        <a-picture defaultSource="../../../../../src/img/non conseils pattern.svg"></a-picture>
    </o-body-style>
    <o-body-style only-render-attribute-to-css background-color-prop="#003B4C" color-prop="var(--background-color);"
        h-color-var="var(--background-color);">
        <div class="spacer-half"></div>
        <h2 class="font-size-h1">Nos conseils</h2>
        <h3>LA NATUROPATHIE</h3>
        <p>nature& vous propose des pains de très haute qualité. Ce sont des pains bio au levain naturel, cuits dans un
            véritable
            four à bois traditionnel. Ils sont ainsi façonnés et lamés à la main par nos artisans boulangers genevois.
            Ces pains
            bénéficient d’une fermentation douce et longue (48h) qui est essentielle pour la qualité gustative et
            digestive. Tous
            les pains nature& sont fabriqués à partir d’ingrédients de qualité, dans le respect des approvisionnements
            locaux et
            avec un soin tout particulier accordé aux choix des farines. Les farines GRTA proviennent du Moulin de La
            Pallanterie
            dont les blés sont essentiellement en provenance du terroir genevois. Tous les blés sont moulus par
            écrasement avec une
            véritable meule de pierre à l’ancienne. La dizaine de pains que nous vous proposons régaleront ainsi les
            papilles des
            connaisseurs et des plus gourmands !</p>
    </o-body-style>
</o-wrapper>