:host {
  --button-primary-background-color-disabled: var(--button-primary-background-color-disabled-custom, var(--color-disabled, var(--m-orange-300)));
  --button-primary-background-color-hover: var(--button-primary-background-color-hover-custom, var(--color-hover, var(--m-orange-800)));
  --button-primary-background-color: var(--button-primary-background-color-custom, var(--color-secondary, var(--m-orange-600)));
  --button-primary-border-radius: var(--button-primary-border-radius-custom, 0.5em);
  --button-primary-color: var(--button-primary-color-custom, var(--background-color, var(--m-white)));
  --button-primary-color-hover: var(--button-primary-color-hover-custom, var(--background-color, var(--m-white)));
  --button-primary-font: var(--button-primary-font-custom, var(--font-weight, 400) var(--font-size, 1em)/var(--line-height, 1.5em) var(--font-family, unset));
}
