<a-google-maps namespace="google-maps-default-" lat="47.235012" lng="8.636578" api-key="" marker-icon="../src/img/marker.svg">
    <div class="control-events">
        <div><strong>Wegbeschreibung</strong></div>
        <div>
            <o-wrapper namespace="wrapper-no-calc-column-width-" flex-nowrap-mobile no-calc-column-width>
                <a id="" href="#">
                    <a-picture defaultSource="../../../../img/directions-driving.svg" alt=""></a-picture>
                </a>
                <a id="transit" href="#">
                    <a-picture defaultSource="../../../../img/directions-transit.svg" alt=""></a-picture>
                </a>
                <a id="bicycling" href="#">
                    <a-picture defaultSource="../../../../img/directions-bicycling.svg" alt=""></a-picture>
                </a>
                <a id="walking" href="#">
                    <a-picture defaultSource="../../../../img/directions-walking.svg" alt=""></a-picture>
                </a>
            </o-wrapper>
        </div>
    </div>
    <hr />
</a-google-maps>
<div class="spacer"></div>
<div>
    <h6 class="title-border">Anfahrt</h6>
    <p>
        <strong>Adresse</strong><br />
        Zürisee Center Wädenswil<br />
        Rütistrasse 1<br />
        8820 Wädenswil<br />
    </p>
</div>