/**
  * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
  * NOTE: Within the component don't use any name spacing eg. component header don't use --header-default-color just use --color the namespace can be added by the Shadow as an html attribute
  * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
  * - if a component holds other components you should share the attribute namespace with its children
  */

/* font tracking for Trenda */
@import url("https://cdn.fonts.net/t/1.css?apiType=css&projectid=d9499930-398b-11ed-aaf7-06b70d83f6b0");

@font-face {
  font-family: "GlossAndBloom";
  src: url("https://cdn.migros.ch/ch.migros/static/fonts/GlossAndBloom/GlossAndBloom.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TrendaBlack";
  src: url("https://cdn.migros.ch/ch.migros/static/fonts/Trenda/TrendaBlack_normal_normal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TrendaBold";
  src: url("https://cdn.migros.ch/ch.migros/static/fonts/Trenda/TrendaBold_normal_normal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TrendaSemiBold";
  src: url("https://cdn.migros.ch/ch.migros/static/fonts/Trenda/TrendaSemibold_normal_normal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TrendaHeavy";
  src: url("https://cdn.migros.ch/ch.migros/static/fonts/Trenda/TrendaHeavy_normal_normal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TrendaLight";
  src: url("https://cdn.migros.ch/ch.migros/static/fonts/Trenda/TrendaLight_normal_normal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --a-link-content-spacing-no-scroll-custom: 0 var(--nature-wrapper-padding-mobile);
  --any-content-spacing-mobile: 0;
  --any-content-spacing: 0;
  --any-content-width-mobile: 100%;
  --any-margin-top-first-child-mobile: calc(-1 * var(--content-spacing-mobile, unset));
  --any-margin-top-first-child: calc(-1 * var(--content-spacing, unset));
  --background-color: white;
  --bg-padding-bottom: 0.2em;
  --bg-padding-top: 0.5em;
  --color-active: var(--m-gray-600);
  --color-disabled: var(--m-gray-600);
  --color-hover: #F26178;
  --color-secondary: #82C073;
  --color-tertiary: #003B4C;
  --content-spacing-mobile: 2rem;
  --content-width: min(calc(1200px - var(--content-spacing) * 2), calc(100% - var(--content-spacing) * 2));
  --details-default-summary-child-margin: 0.4em 0 0;
  --details-default-summary-dropdown-icon-margin: 0;
  --emotion-default-width-mobile: 100%;
  --emotion-default-width: var(--content-width);
  --font-family-bold: TrendaBold, HelveticaNowTextBold, HelveticaNowText, Helvetica, Arial, sans-serif;
  --font-family-secondary: GlossAndBloom, sans-serif;
  --font-family: TrendaSemiBold, HelveticaNowText, Helvetica, Arial, sans-serif;
  --font-size-mobile: min(16px, 5vw);
  --footer-default-a-font-size: var(--font-size-mobile);
  --footer-default-a-text-decoration: none;
  --footer-default-boarder-right: 0;
  --footer-default-footer-any-padding-mobile: 0;
  --footer-default-footer-any-padding: 0 var(--content-spacing);
  --footer-default-footer-margin: 0 auto;
  --footer-default-footer-width-mobile: 100%;
  --footer-default-h4-color: var(--color-tertiary);
  --footer-default-h4-font-size: 1.2em;
  --footer-default-h4-line-height: 1.4em;
  --footer-default-h4-padding: 0 0 calc(var(--content-spacing)) 0;
  --footer-default-invert-a-color-hover-custom: var(--color-tertiary);
  --footer-default-invert-color-hover-custom: var(--color-tertiary);
  --footer-default-invert-orange-a-color-hover-custom: var(--color-hover);
  --footer-default-invert-orange-background-color-custom: var(--color-tertiary);
  --footer-default-invert-svg-color-custom: var(--background-color);
  --footer-default-invert-svg-color-hover-custom: var(--color-tertiary);
  --footer-default-justify-content-custom: space-between;
  --footer-default-line-height: 1.4em;
  --footer-default-order-custom: 1;
  --footer-links-row-margin: calc(var(--content-spacing-mobile, 0) / 2) 0;
  --grid-2columns2rows-grid-gap-custom: 0;
  --grid-2columns2rows-padding-custom: 2em;
  --grid-2colums2rows-big-li-before-font-size: var(--font-size);
  --grid-2colums2rows-big-li-before-top: 0;
  --grid-2colums2rows-color-secondary: var(--color-tertiary);
  --grid-2colums2rows-h3-margin: 0 0 var(--content-spacing) 0;
  --h-color: var(--color-tertiary);
  --h-line-height: 1.5em;
  --h-margin-bottom: 0;
  --h-padding: 0.3em 0 0;
  --h1-font-size-mobile: 2em;
  --h1-font-size: calc(2.5 * 1.5em);
  --h2-font-family: var(--font-family-secondary);
  --h2-padding: 0.3em 0 0.5em 0;
  --h3-font-size-mobile: 1.4em;
  --h3-font-size: 1.4em;
  --h6-font-size: var(--h2-font-size, 1.5em);
  --header-default-a-logo-top-custom: calc(60.5px / 2 - 35px / 2);
  --header-default-a-logo-top-mobile-custom: 1.25em;
  --header-default-flex-wrap-custom: nowrap;
  --header-default-logo-width-custom: min(9em, 147px);
  --header-default-margin-custom: 0 auto var(--content-spacing);
  --header-default-margin-mobile-custom: 0 auto var(--content-spacing-mobile);
  --header-default-padding-mobile: 0;
  --header-default-padding: 0.9em 0;
  --header-default-width-mobile: 100%;
  --hr-border-bottom: 2px dotted var(--m-gray-600);
  --hr-border-width: 0 0 2px;
  --hr-secondary-border-bottom: 2px solid var(--background-color);
  --hr-secondary-opacity: .8;
  --logo-default-img-margin-mobile: 0;
  --logo-default-img-margin: 1.2em 0 0 0;
  --nature-wrapper-align-items: stretch;
  --nature-wrapper-gap-custom: 0;
  --nature-wrapper-padding-mobile: var(--content-spacing-mobile);
  --nature-wrapper-padding: calc(var(--content-spacing) * 2) calc(var(--content-spacing) * 4);
  --navigation-nature-border-color-custom: #DDDDDD;
  --navigation-nature-color-active-custom: #7FC56E;
  --navigation-nature-padding-mobile-first-child-custom: 0;
  --p-margin: 0;
  --picture-close-btn-background-color: var(--color-secondary);
  --picture-img-max-height: 100%;
  --search-input-width-big: 100%;
  --table-td-align-right-white-space-first-child: nowrap;
  --teaser-overlay-bg-padding-bottom: 0;
  --teaser-overlay-bg-padding-top-custom: 0.6em;
  --title-border-display: none;
  /* @Dino: Sandra want's this font-size smaller equal to the original site */
  /*
  --p-font-size-mobile: 1em;
  --p-font-size: 1.4em;
  */
}
