[submodule "src/es/components/web-components-toolbox"]
	path = src/web-components-toolbox
	url = https://github.com/mits-gossau/web-components-toolbox.git
	ignore = dirty
[submodule "src/es/components/web-components-toolbox-alnatura"]
	path = src/web-components-toolbox-alnatura
	url = https://github.com/mits-gossau/web-components-toolbox-alnatura.git
	ignore = dirty
[submodule "src/web-components-toolbox-nature"]
	path = src/web-components-toolbox-nature
	url = git@github.com:mits-gossau/web-components-toolbox-nature.git
[submodule "src/web-components-toolbox-kaimug"]
	path = src/web-components-toolbox-kaimug
	url = git@github.com:mits-gossau/web-components-toolbox-kaimug.git
[submodule "src/web-components-toolbox-klubschule"]
	path = src/web-components-toolbox-klubschule
	url = git@github.com:mits-gossau/web-components-toolbox-klubschule.git
[submodule "src/web-components-toolbox-hitzberger"]
	path = src/web-components-toolbox-hitzberger
	url = git@github.com:mits-gossau/web-components-toolbox-hitzberger.git
[submodule "src/web-components-toolbox-stage-one"]
	path = src/web-components-toolbox-stage-one
	url = git@github.com:mits-gossau/web-components-toolbox-stage-one.git
[submodule "src/web-components-toolbox-yearbooks"]
	path = src/web-components-toolbox-yearbooks
	url = git@github.com:mits-gossau/web-components-toolbox-yearbooks.git
[submodule "src/web-components-toolbox-zueriseecenter"]
	path = src/web-components-toolbox-zueriseecenter
	url = git@github.com:mits-gossau/web-components-toolbox-zueriseecenter.git
[submodule "src/web-components-toolbox-techday"]
	path = src/web-components-toolbox-techday
	url = git@github.com:mits-gossau/web-components-toolbox-techday.git
[submodule "src/web-components-toolbox-parkimgruene"]
	path = src/web-components-toolbox-parkimgruene
	url = git@github.com:mits-gossau/web-components-toolbox-parkimgruene.git
