[submodule "src/es/components/web-components-toolbox"]
	path = src/web-components-toolbox
	url = https://github.com/mits-gossau/web-components-toolbox.git
	ignore = dirty
[submodule "src/es/components/web-components-toolbox-alnatura"]
	path = src/web-components-toolbox-alnatura
	url = https://github.com/mits-gossau/web-components-toolbox-alnatura.git
	ignore = dirty
[submodule "src/web-components-toolbox-nature"]
	path = src/web-components-toolbox-nature
	url = git@github.com:mits-gossau/web-components-toolbox-nature.git
[submodule "src/web-components-toolbox-kaimug"]
	path = src/web-components-toolbox-kaimug
	url = git@github.com:mits-gossau/web-components-toolbox-kaimug.git
[submodule "src/web-components-toolbox-klubschule"]
	path = src/web-components-toolbox-klubschule
	url = git@github.com:mits-gossau/web-components-toolbox-klubschule.git
[submodule "src/web-components-toolbox-hitzberger"]
	path = src/web-components-toolbox-hitzberger
	url = git@github.com:mits-gossau/web-components-toolbox-hitzberger.git
[submodule "src/web-components-toolbox-stage-one"]
	path = src/web-components-toolbox-stage-one
	url = git@github.com:mits-gossau/web-components-toolbox-stage-one.git
[submodule "src/web-components-toolbox-yearbooks"]
	path = src/web-components-toolbox-yearbooks
	url = git@github.com:mits-gossau/web-components-toolbox-yearbooks.git
[submodule "src/web-components-toolbox-zueriseecenter"]
	path = src/web-components-toolbox-zueriseecenter
	url = git@github.com:mits-gossau/web-components-toolbox-zueriseecenter.git
[submodule "src/web-components-toolbox-techday"]
	path = src/web-components-toolbox-techday
	url = git@github.com:mits-gossau/web-components-toolbox-techday.git
[submodule "src/web-components-toolbox-parkimgruene"]
	path = src/web-components-toolbox-parkimgruene
	url = git@github.com:mits-gossau/web-components-toolbox-parkimgruene.git
[submodule "src/web-components-toolbox-neumarkt-altstetten"]
	path = src/web-components-toolbox-neumarkt-altstetten
	url = git@github.com:mits-gossau/web-components-toolbox-neumarkt-altstetten.git
[submodule "src/web-components-toolbox-maker-space"]
	path = src/web-components-toolbox-maker-space
	url = git@github.com:mits-gossau/web-components-toolbox-maker-space.git
[submodule "src/web-components-toolbox-migros-city"]
	path = src/web-components-toolbox-migros-city
	url = git@github.com:mits-gossau/web-components-toolbox-migros-city.git
[submodule "src/web-components-toolbox-logistikplattform"]
	path = src/web-components-toolbox-logistikplattform
	url = git@github.com:mits-gossau/web-components-toolbox-logistikplattform.git
[submodule "src/web-components-toolbox-eatery"]
	path = src/web-components-toolbox-eatery
	url = git@github.com:mits-gossau/web-components-toolbox-eatery.git
[submodule "src/web-components-toolbox-buelach-sued"]
	path = src/web-components-toolbox-buelach-sued
	url = git@github.com:mits-gossau/web-components-toolbox-buelach-sued.git
[submodule "src/web-components-toolbox-betriebsrestaurant"]
	path = src/web-components-toolbox-betriebsrestaurant
	url = git@github.com:mits-gossau/web-components-toolbox-betriebsrestaurant.git
