[submodule "src/web-components-toolbox"]
	path = src/web-components-toolbox
	url = git@github.com:mits-gossau/web-components-toolbox
	ignore = dirty
[submodule "src/clients/web-components-toolbox-mdx"]
	path = src/clients/web-components-toolbox-mdx
	url = git@github.com:mits-gossau/web-components-toolbox-mdx
	ignore = dirty
[submodule "src/clients/web-components-toolbox-nature"]
	path = src/clients/web-components-toolbox-nature
	url = git@github.com:mits-gossau/web-components-toolbox-nature
	ignore = dirty
[submodule "src/clients/web-components-toolbox-orangergarten"]
	path = src/clients/web-components-toolbox-orangergarten
	url = git@github.com:mits-gossau/web-components-toolbox-orangergarten
	ignore = dirty
[submodule "src/clients/web-components-toolbox-betriebsrestaurant"]
	path = src/clients/web-components-toolbox-betriebsrestaurant
	url = git@github.com:mits-gossau/web-components-toolbox-betriebsrestaurant
	ignore = dirty
[submodule "src/clients/web-components-toolbox-buelach-sued"]
	path = src/clients/web-components-toolbox-buelach-sued
	url = git@github.com:mits-gossau/web-components-toolbox-buelach-sued
	ignore = dirty
[submodule "src/clients/web-components-toolbox-eatery"]
	path = src/clients/web-components-toolbox-eatery
	url = git@github.com:mits-gossau/web-components-toolbox-eatery
	ignore = dirty
[submodule "src/clients/web-components-toolbox-logistikplattform"]
	path = src/clients/web-components-toolbox-logistikplattform
	url = git@github.com:mits-gossau/web-components-toolbox-logistikplattform
	ignore = dirty
[submodule "src/clients/web-components-toolbox-migros-city"]
	path = src/clients/web-components-toolbox-migros-city
	url = git@github.com:mits-gossau/web-components-toolbox-migros-city
	ignore = dirty
[submodule "src/clients/web-components-toolbox-maker-space"]
	path = src/clients/web-components-toolbox-maker-space
	url = git@github.com:mits-gossau/web-components-toolbox-maker-space
	ignore = dirty
[submodule "src/clients/web-components-toolbox-neumarkt-altstetten"]
	path = src/clients/web-components-toolbox-neumarkt-altstetten
	url = git@github.com:mits-gossau/web-components-toolbox-neumarkt-altstetten
	ignore = dirty
[submodule "src/clients/web-components-toolbox-parkimgruene"]
	path = src/clients/web-components-toolbox-parkimgruene
	url = git@github.com:mits-gossau/web-components-toolbox-parkimgruene
	ignore = dirty
[submodule "src/clients/web-components-toolbox-techday"]
	path = src/clients/web-components-toolbox-techday
	url = git@github.com:mits-gossau/web-components-toolbox-techday
	ignore = dirty
[submodule "src/clients/web-components-toolbox-zueriseecenter"]
	path = src/clients/web-components-toolbox-zueriseecenter
	url = git@github.com:mits-gossau/web-components-toolbox-zueriseecenter
	ignore = dirty
[submodule "src/clients/web-components-toolbox-yearbooks"]
	path = src/clients/web-components-toolbox-yearbooks
	url = git@github.com:mits-gossau/web-components-toolbox-yearbooks
	ignore = dirty
[submodule "src/clients/web-components-toolbox-stage-one"]
	path = src/clients/web-components-toolbox-stage-one
	url = git@github.com:mits-gossau/web-components-toolbox-stage-one
	ignore = dirty
[submodule "src/clients/web-components-toolbox-hitzberger"]
	path = src/clients/web-components-toolbox-hitzberger
	url = git@github.com:mits-gossau/web-components-toolbox-hitzberger
	ignore = dirty
[submodule "src/clients/web-components-toolbox-klubschule"]
	path = src/clients/web-components-toolbox-klubschule
	url = git@github.com:mits-gossau/web-components-toolbox-klubschule
	ignore = dirty
[submodule "src/clients/web-components-toolbox-kaimug"]
	path = src/clients/web-components-toolbox-kaimug
	url = git@github.com:mits-gossau/web-components-toolbox-kaimug
	ignore = dirty
[submodule "src/clients/web-components-toolbox-alnatura"]
	path = src/clients/web-components-toolbox-alnatura
	url = git@github.com:mits-gossau/web-components-toolbox-alnatura
	ignore = dirty
[submodule "src/clients/web-components-toolbox-mitreva"]
	path = src/clients/web-components-toolbox-mitreva
	url = https://github.com/mits-gossau/web-components-toolbox-mitreva
