/**
  * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
  * NOTE: Within the component don't use any name spacing eg. component header don't use --header-default-color just use --color the namespace can be added by the Shadow as an html attribute
  * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
  * - if a component holds other components you should share the attribute namespace with its children
  */
/* font tracking */
@import url("https://cdn.fonts.net/t/1.css?apiType=css&projectid=798548d0-cd18-11ec-9404-069abf4c3446");
:root {
  --footer-default-a-color:var(--color);
  --footer-default-a-text-decoration-hover: underline;
  --footer-default-a-text-decoration:none;
  --footer-default-a-text-underline-offset:0.3em;
  --footer-default-invert-background-color-custom:var(--m-black);
  --header-default-a-logo-top-custom: calc(62px / 2 - 90px / 2); /* header.height / 2 - logo.height / 2 */
  --header-default-a-logo-top-mobile-custom: calc(69px / 2 - 25.5px / 2);
  --header-default-a-menu-icon-background-color-custom:var(--color);
  --header-default-background-color-custom: var(--background-color);
  --header-default-border-bottom-custom: 1px solid var(--m-gray-300);
  --header-default-logo-width-custom:90px;
  --navigation-default-color-custom: var(--color);
}
