.themeMicasaLight {
  --mdx-base-border-radius-none: 0;
  --mdx-base-border-radius-xs: 2px;
  --mdx-base-border-radius-sm: 4px;
  --mdx-base-border-radius-md: 8px;
  --mdx-base-border-radius-lg: 16px;
  --mdx-base-border-radius-xl: 24px;
  --mdx-base-border-radius-2xl: 32px;
  --mdx-base-border-width-none: 0;
  --mdx-base-border-width-xs: 1px;
  --mdx-base-border-width-sm: 1.5px;
  --mdx-base-border-width-md: 2px;
  --mdx-base-border-width-lg: 3px;
  --mdx-base-border-width-xl: 4px;
  --mdx-base-color-global-white: rgb(255, 255, 255);
  --mdx-base-color-global-black: rgb(0, 0, 0);
  --mdx-base-color-global-fully-transparent: rgba(0, 0, 0, 0);
  --mdx-base-color-grey-100: rgb(245, 245, 245);
  --mdx-base-color-grey-200: rgb(237, 237, 237);
  --mdx-base-color-grey-300: rgb(224, 224, 224);
  --mdx-base-color-grey-400: rgb(191, 191, 191);
  --mdx-base-color-grey-500: rgb(166, 166, 166);
  --mdx-base-color-grey-600: rgb(128, 128, 128);
  --mdx-base-color-grey-700: rgb(115, 115, 115);
  --mdx-base-color-grey-800: rgb(89, 89, 89);
  --mdx-base-color-grey-900: rgb(64, 64, 64);
  --mdx-base-color-grey-950: rgb(51, 51, 51);
  --mdx-base-color-grey-opacity-950-25: rgba(51, 51, 51, 0.25);
  --mdx-base-color-grey-opacity-950-50: rgba(51, 51, 51, 0.5);
  --mdx-base-color-grey-opacity-950-75: rgba(51, 51, 51, 0.75);
  --mdx-base-color-grey-opacity-web: rgba(116, 116, 116, 0.66);
  --mdx-base-color-orange-100: rgb(255, 243, 235);
  --mdx-base-color-orange-200: rgb(255, 233, 219);
  --mdx-base-color-orange-300: rgb(255, 218, 194);
  --mdx-base-color-orange-400: rgb(255, 179, 128);
  --mdx-base-color-orange-500: rgb(255, 148, 76);
  --mdx-base-color-orange-600: rgb(255, 102, 0);
  --mdx-base-color-orange-650: rgb(251, 100, 0);
  --mdx-base-color-orange-700: rgb(229, 92, 0);
  --mdx-base-color-orange-750: rgb(202, 79, 0);
  --mdx-base-color-orange-800: rgb(178, 72, 0);
  --mdx-base-color-orange-900: rgb(128, 51, 0);
  --mdx-base-color-orange-opacity-600-25: rgba(255, 102, 0, 0.25);
  --mdx-base-color-orange-opacity-600-50: rgba(255, 102, 0, 0.5);
  --mdx-base-color-orange-opacity-600-75: rgba(255, 102, 0, 0.75);
  --mdx-base-color-harvest-gold-100: rgb(255, 238, 199);
  --mdx-base-color-harvest-gold-200: rgb(255, 234, 184);
  --mdx-base-color-harvest-gold-300: rgb(255, 226, 158);
  --mdx-base-color-harvest-gold-400: rgb(255, 206, 92);
  --mdx-base-color-harvest-gold-500: rgb(255, 191, 41);
  --mdx-base-color-harvest-gold-600: rgb(219, 154, 0);
  --mdx-base-color-harvest-gold-700: rgb(194, 136, 0);
  --mdx-base-color-harvest-gold-800: rgb(143, 100, 0);
  --mdx-base-color-harvest-gold-900: rgb(92, 64, 0);
  --mdx-base-color-harvest-gold-opacity-600-25: rgba(219, 154, 0, 0.25);
  --mdx-base-color-harvest-gold-opacity-600-50: rgba(219, 154, 0, 0.5);
  --mdx-base-color-harvest-gold-opacity-600-75: rgba(219, 154, 0, 0.75);
  --mdx-base-color-vivid-cerulean-100: rgb(236, 248, 254);
  --mdx-base-color-vivid-cerulean-200: rgb(221, 242, 253);
  --mdx-base-color-vivid-cerulean-300: rgb(197, 234, 251);
  --mdx-base-color-vivid-cerulean-400: rgb(135, 210, 247);
  --mdx-base-color-vivid-cerulean-500: rgb(87, 193, 244);
  --mdx-base-color-vivid-cerulean-600: rgb(15, 166, 240);
  --mdx-base-color-vivid-cerulean-700: rgb(14, 149, 216);
  --mdx-base-color-vivid-cerulean-800: rgb(11, 116, 168);
  --mdx-base-color-vivid-cerulean-900: rgb(8, 83, 120);
  --mdx-base-color-vivid-cerulean-opacity-600-25: rgba(15, 166, 240, 0.25);
  --mdx-base-color-vivid-cerulean-opacity-600-50: rgba(15, 166, 240, 0.5);
  --mdx-base-color-vivid-cerulean-opacity-600-75: rgba(15, 166, 240, 0.75);
  --mdx-base-color-ferrari-red-100: rgb(255, 238, 235);
  --mdx-base-color-ferrari-red-200: rgb(254, 225, 220);
  --mdx-base-color-ferrari-red-300: rgb(254, 204, 195);
  --mdx-base-color-ferrari-red-400: rgb(252, 150, 131);
  --mdx-base-color-ferrari-red-500: rgb(251, 108, 81);
  --mdx-base-color-ferrari-red-600: rgb(249, 45, 6);
  --mdx-base-color-ferrari-red-700: rgb(224, 40, 5);
  --mdx-base-color-ferrari-red-800: rgb(174, 31, 4);
  --mdx-base-color-ferrari-red-900: rgb(125, 23, 3);
  --mdx-base-color-ferrari-red-opacity-600-25: rgba(249, 45, 6, 0.25);
  --mdx-base-color-ferrari-red-opacity-600-50: rgba(249, 45, 6, 0.5);
  --mdx-base-color-ferrari-red-opacity-600-75: rgba(249, 45, 6, 0.75);
  --mdx-base-color-apple-green-100: rgb(242, 249, 240);
  --mdx-base-color-apple-green-200: rgb(232, 245, 229);
  --mdx-base-color-apple-green-300: rgb(216, 238, 211);
  --mdx-base-color-apple-green-400: rgb(173, 220, 162);
  --mdx-base-color-apple-green-500: rgb(140, 206, 126);
  --mdx-base-color-apple-green-600: rgb(91, 185, 70);
  --mdx-base-color-apple-green-700: rgb(82, 166, 63);
  --mdx-base-color-apple-green-800: rgb(64, 129, 49);
  --mdx-base-color-apple-green-900: rgb(46, 92, 35);
  --mdx-base-color-apple-green-opacity-600-25: rgba(91, 185, 70, 0.25);
  --mdx-base-color-apple-green-opacity-600-50: rgba(91, 185, 70, 0.5);
  --mdx-base-color-apple-green-opacity-600-75: rgba(91, 185, 70, 0.75);
  --mdx-base-color-micasa-orange-100: rgb(255, 249, 239);
  --mdx-base-color-micasa-orange-400: rgb(252, 178, 59);
  --mdx-base-color-micasa-orange-500: rgb(251, 158, 11);
  --mdx-base-color-micasa-green-100: rgb(243, 249, 248);
  --mdx-base-color-micasa-green-800: rgb(22, 127, 119);
  --mdx-base-color-micasa-green-900: rgb(14, 84, 78);
  --mdx-base-color-melectronics-blue-100: rgb(243, 245, 249);
  --mdx-base-color-melectronics-blue-800: rgb(22, 61, 130);
  --mdx-base-color-melectronics-blue-900: rgb(16, 40, 86);
  --mdx-base-color-sportx-red-200: rgb(236, 230, 232);
  --mdx-base-color-sportx-red-700: rgb(205, 8, 12);
  --mdx-base-color-sportx-red-800: rgb(100, 0, 21);
  --mdx-base-color-sportx-red-900: rgb(64, 0, 26);
  --mdx-base-color-doitgarden-green-100: rgb(242, 247, 245);
  --mdx-base-color-doitgarden-green-800: rgb(0, 102, 51);
  --mdx-base-color-doitgarden-green-900: rgb(0, 50, 25);
  --mdx-base-color-cumulus-blue-200: rgb(220, 236, 255);
  --mdx-base-color-cumulus-blue-300: rgb(180, 212, 250);
  --mdx-base-color-cumulus-blue-800: rgb(0, 61, 140);
  --mdx-base-color-engagement-red-700: rgb(196, 57, 10);
  --mdx-base-color-engagement-red-800: rgb(155, 39, 0);
  --mdx-base-color-impuls-green-600: rgb(0, 153, 166);
  --mdx-base-color-impuls-green-700: rgb(0, 131, 143);
  --mdx-base-font-font-size-150: 0.75rem;
  --mdx-base-font-font-size-175: 0.875rem;
  --mdx-base-font-font-size-200: 1rem;
  --mdx-base-font-font-size-225: 1.125rem;
  --mdx-base-font-font-size-250: 1.25rem;
  --mdx-base-font-font-size-300: 1.5rem;
  --mdx-base-font-font-size-350: 1.75rem;
  --mdx-base-font-font-size-400: 2rem;
  --mdx-base-font-font-size-450: 2.25rem;
  --mdx-base-font-font-size-500: 2.5rem;
  --mdx-base-font-font-size-525: 2.625rem;
  --mdx-base-font-font-size-550: 2.75rem;
  --mdx-base-font-font-size-600: 3rem;
  --mdx-base-font-font-size-650: 3.25rem;
  --mdx-base-font-font-size-700: 3.5rem;
  --mdx-base-font-font-size-800: 4rem;
  --mdx-base-font-font-size-900: 4.5rem;
  --mdx-base-font-font-size-1000: 5rem;
  --mdx-base-font-font-size-1100: 5.5rem;
  --mdx-base-font-font-size-1150: 5.75rem;
  --mdx-base-font-font-size-1200: 6rem;
  --mdx-base-font-line-height-150: 0.75rem;
  --mdx-base-font-line-height-200: 1rem;
  --mdx-base-font-line-height-225: 1.125rem;
  --mdx-base-font-line-height-250: 1.25rem;
  --mdx-base-font-line-height-300: 1.5rem;
  --mdx-base-font-line-height-350: 1.75rem;
  --mdx-base-font-line-height-375: 1.875rem;
  --mdx-base-font-line-height-400: 2rem;
  --mdx-base-font-line-height-450: 2.25rem;
  --mdx-base-font-line-height-500: 2.5rem;
  --mdx-base-font-line-height-550: 2.75rem;
  --mdx-base-font-line-height-600: 3rem;
  --mdx-base-font-line-height-700: 3.5rem;
  --mdx-base-font-line-height-800: 4rem;
  --mdx-base-font-line-height-850: 4.25rem;
  --mdx-base-font-line-height-900: 4.5rem;
  --mdx-base-font-line-height-1000: 5rem;
  --mdx-base-font-line-height-1100: 5.5rem;
  --mdx-base-font-line-height-1150: 5.75rem;
  --mdx-base-font-line-height-1200: 6rem;
  --mdx-base-font-line-height-1300: 6.5rem;
  --mdx-base-font-line-height-auto: auto;
  --mdx-base-font-family-display: 'Helvetica Now Display';
  --mdx-base-font-family-text: 'Helvetica Now Text';
  --mdx-base-font-family-micro: 'Helvetica Now Micro';
  --mdx-base-font-weight-light: 300;
  --mdx-base-font-weight-regular: 400;
  --mdx-base-font-weight-medium: 500;
  --mdx-base-font-weight-bold: 700;
  --mdx-base-font-weight-extra-bold: 800;
  --mdx-base-font-letter-spacing-normal: 0;
  --mdx-base-font-letter-spacing-tight: -0.0125rem;
  --mdx-base-font-letter-spacing-wide: 0.125rem;
  --mdx-base-font-text-decoration-none: none;
  --mdx-base-font-text-decoration-underline: underline;
  --mdx-base-font-text-case-uppercase: uppercase;
  --mdx-base-font-text-case-none: none;
  --mdx-base-opacity-0: 0;
  --mdx-base-opacity-1: 1;
  --mdx-base-opacity-0-25: 0.25;
  --mdx-base-opacity-0-5: 0.5;
  --mdx-base-opacity-0-75: 0.75;
  --mdx-base-spacing-factor: 8.000;
  --mdx-base-spacing-unit-0x: 0;
  --mdx-base-spacing-unit-0-5x: 0.25rem;
  --mdx-base-spacing-unit-1x: 0.5rem;
  --mdx-base-spacing-unit-1-5x: 0.75rem;
  --mdx-base-spacing-unit-2x: 1rem;
  --mdx-base-spacing-unit-2-5x: 1.25rem;
  --mdx-base-spacing-unit-3x: 1.5rem;
  --mdx-base-spacing-unit-3-5x: 1.75rem;
  --mdx-base-spacing-unit-4x: 2rem;
  --mdx-base-spacing-unit-4-5x: 2.25rem;
  --mdx-base-spacing-unit-5x: 2.5rem;
  --mdx-base-spacing-unit-6x: 3rem;
  --mdx-base-spacing-unit-7x: 3.5rem;
  --mdx-base-spacing-unit-8x: 4rem;
  --mdx-base-spacing-unit-9x: 4.5rem;
  --mdx-base-spacing-unit-10x: 5rem;
  --mdx-base-spacing-unit-11x: 5.5rem;
  --mdx-base-spacing-unit-12x: 6rem;
  --mdx-base-spacing-unit-13x: 6.5rem;
  --mdx-base-spacing-unit-14x: 7rem;
  --mdx-base-spacing-unit-15x: 7.5rem;
  --mdx-base-spacing-unit-16x: 8rem;
  --mdx-base-spacing-unit-20x: 10rem;
  --mdx-base-shadow-light: 0 0 6px 0 rgba(51, 51, 51, 0.1);
  --mdx-base-shadow-medium: 0 0 12px 0 rgba(51, 51, 51, 0.1);
  --mdx-base-shadow-strong: 0 0 12px 0 rgba(51, 51, 51, 0.2);
  --mdx-base-shadow-none: 0 0 0 0 rgb(0, 0, 0);
  --mdx-sys-border-radius-default: 4px;
  --mdx-sys-border-width-none: 0;
  --mdx-sys-border-width-xs: 1px;
  --mdx-sys-border-width-sm: 1.5px;
  --mdx-sys-border-width-default: 2px;
  --mdx-sys-border-width-lg: 3px;
  --mdx-sys-border-width-xl: 4px;
  --mdx-sys-color-primary-default: rgb(255, 191, 41);
  --mdx-sys-color-primary-on-default: rgb(255, 255, 255);
  --mdx-sys-color-primary-subtle1: rgb(255, 243, 235);
  --mdx-sys-color-primary-subtle2: rgb(255, 233, 219);
  --mdx-sys-color-primary-subtle3: rgb(255, 218, 194);
  --mdx-sys-color-primary-on-subtle: rgb(251, 158, 11);
  --mdx-sys-color-primary-bold1: rgb(229, 92, 0);
  --mdx-sys-color-primary-bold2: rgb(202, 79, 0);
  --mdx-sys-color-primary-bold3: rgb(178, 72, 0);
  --mdx-sys-color-primary-on-bold: rgb(255, 255, 255);
  --mdx-sys-color-neutral-default: rgb(51, 51, 51);
  --mdx-sys-color-neutral-on-default: rgb(255, 255, 255);
  --mdx-sys-color-neutral-subtle1: rgb(245, 245, 245);
  --mdx-sys-color-neutral-subtle2: rgb(237, 237, 237);
  --mdx-sys-color-neutral-subtle3: rgb(224, 224, 224);
  --mdx-sys-color-neutral-on-subtle: rgb(128, 128, 128);
  --mdx-sys-color-neutral-bold1: rgb(0, 0, 0);
  --mdx-sys-color-neutral-bold2: rgb(0, 0, 0);
  --mdx-sys-color-neutral-bold3: rgb(0, 0, 0);
  --mdx-sys-color-neutral-on-bold: rgb(0, 0, 0);
  --mdx-sys-color-success-default: rgb(82, 166, 63);
  --mdx-sys-color-success-on-default: rgb(255, 255, 255);
  --mdx-sys-color-success-subtle1: rgb(245, 245, 245);
  --mdx-sys-color-success-subtle2: rgb(232, 245, 229);
  --mdx-sys-color-success-subtle3: rgb(216, 238, 211);
  --mdx-sys-color-success-on-subtle: rgb(51, 51, 51);
  --mdx-sys-color-success-bold1: rgb(0, 0, 0);
  --mdx-sys-color-success-bold2: rgb(0, 0, 0);
  --mdx-sys-color-success-bold3: rgb(0, 0, 0);
  --mdx-sys-color-success-on-bold: rgb(0, 0, 0);
  --mdx-sys-color-accent-1-default: rgb(15, 166, 240);
  --mdx-sys-color-accent-1-on-default: rgb(255, 255, 255);
  --mdx-sys-color-accent-1-subtle1: rgb(236, 248, 254);
  --mdx-sys-color-accent-1-subtle2: rgb(221, 242, 253);
  --mdx-sys-color-accent-1-subtle3: rgb(197, 234, 251);
  --mdx-sys-color-accent-1-on-subtle: rgb(51, 51, 51);
  --mdx-sys-color-accent-1-bold1: rgb(0, 0, 0);
  --mdx-sys-color-accent-1-bold2: rgb(0, 0, 0);
  --mdx-sys-color-accent-1-bold3: rgb(0, 0, 0);
  --mdx-sys-color-accent-1-on-bold: rgb(0, 0, 0);
  --mdx-sys-color-error-default: rgb(224, 40, 5);
  --mdx-sys-color-error-on-default: rgb(255, 255, 255);
  --mdx-sys-color-error-subtle1: rgb(255, 243, 235);
  --mdx-sys-color-error-subtle2: rgb(254, 225, 220);
  --mdx-sys-color-error-subtle3: rgb(254, 204, 195);
  --mdx-sys-color-error-on-subtle: rgb(51, 51, 51);
  --mdx-sys-color-error-bold1: rgb(0, 0, 0);
  --mdx-sys-color-error-bold2: rgb(0, 0, 0);
  --mdx-sys-color-error-bold3: rgb(0, 0, 0);
  --mdx-sys-color-error-on-bold: rgb(0, 0, 0);
  --mdx-sys-color-warning-default: rgb(194, 136, 0);
  --mdx-sys-color-warning-on-default: rgb(255, 255, 255);
  --mdx-sys-color-warning-subtle1: rgb(255, 238, 199);
  --mdx-sys-color-warning-subtle2: rgb(255, 234, 184);
  --mdx-sys-color-warning-subtle3: rgb(255, 226, 158);
  --mdx-sys-color-warning-on-subtle: rgb(51, 51, 51);
  --mdx-sys-color-warning-bold1: rgb(0, 0, 0);
  --mdx-sys-color-warning-bold2: rgb(0, 0, 0);
  --mdx-sys-color-warning-bold3: rgb(0, 0, 0);
  --mdx-sys-color-warning-on-bold: rgb(0, 0, 0);
  --mdx-sys-font-fix-h1: 700 1.75rem/2.25rem 'Helvetica Now Display';
  --mdx-sys-font-fix-h2: 700 1.5rem/2rem 'Helvetica Now Display';
  --mdx-sys-font-fix-h3: 700 1.25rem/1.75rem 'Helvetica Now Display';
  --mdx-sys-font-fix-h4: 700 1.125rem/1.5rem 'Helvetica Now Text';
  --mdx-sys-font-fix-body: 400 1rem/1.5rem 'Helvetica Now Text';
  --mdx-sys-font-fix-body-emphasis: 700 1rem/1.5rem 'Helvetica Now Text';
  --mdx-sys-font-fix-body-small: 400 0.875rem/1.25rem 'Helvetica Now Text';
  --mdx-sys-font-fix-body-small-emphasis: 700 0.875rem/1.25rem 'Helvetica Now Text';
  --mdx-sys-font-fix-label: 800 1.125rem/1.5rem 'Helvetica Now Text';
  --mdx-sys-font-fix-link: 400 1rem/1.5rem 'Helvetica Now Text';
  --mdx-sys-opacity-default: 0.5;
  --mdx-sys-shadow-default: 0 0 6px 0 rgba(51, 51, 51, 0.1);
  --mdx-sys-shadow-elevated: 0 0 12px 0 rgba(51, 51, 51, 0.1);
  --mdx-sys-shadow-top: 0 0 12px 0 rgba(51, 51, 51, 0.2);
  --mdx-sys-shadow-none: 0 0 0 0 rgb(0, 0, 0);
  --mdx-sys-spacing-fix-3xs: 0.25rem;
  --mdx-sys-spacing-fix-2xs: 0.5rem;
  --mdx-sys-spacing-fix-xs: 0.75rem;
  --mdx-sys-spacing-fix-s: 1rem;
  --mdx-sys-spacing-fix-m: 1.5rem;
  --mdx-sys-spacing-fix-l: 2rem;
  --mdx-sys-spacing-fix-xl: 2.5rem;
  --mdx-sys-spacing-fix-2xl: 3rem;
  --mdx-sys-spacing-fix-3xl: 3.5rem;
  --mdx-sys-spacing-flex-big-screen-2xs: 1rem;
  --mdx-sys-spacing-flex-big-screen-xs: 1.5rem;
  --mdx-sys-spacing-flex-big-screen-s: 2rem;
  --mdx-sys-spacing-flex-big-screen-m: 5rem;
  --mdx-sys-spacing-flex-big-screen-l: 6rem;
  --mdx-sys-spacing-flex-big-screen-xl: 8rem;
  --mdx-sys-spacing-flex-big-screen-2xl: 10rem;
  --mdx-sys-spacing-flex-desktop-2xs: 1rem;
  --mdx-sys-spacing-flex-desktop-xs: 1.5rem;
  --mdx-sys-spacing-flex-desktop-s: 2rem;
  --mdx-sys-spacing-flex-desktop-m: 3.5rem;
  --mdx-sys-spacing-flex-desktop-l: 5rem;
  --mdx-sys-spacing-flex-desktop-xl: 6rem;
  --mdx-sys-spacing-flex-desktop-2xl: 8rem;
  --mdx-sys-spacing-flex-tablet-2xs: 1rem;
  --mdx-sys-spacing-flex-tablet-xs: 1.5rem;
  --mdx-sys-spacing-flex-tablet-s: 2rem;
  --mdx-sys-spacing-flex-tablet-m: 3rem;
  --mdx-sys-spacing-flex-tablet-l: 3.5rem;
  --mdx-sys-spacing-flex-tablet-xl: 5rem;
  --mdx-sys-spacing-flex-tablet-2xl: 6rem;
  --mdx-sys-spacing-flex-mobile-2xs: 0.5rem;
  --mdx-sys-spacing-flex-mobile-xs: 1rem;
  --mdx-sys-spacing-flex-mobile-s: 1.5rem;
  --mdx-sys-spacing-flex-mobile-m: 2rem;
  --mdx-sys-spacing-flex-mobile-l: 3rem;
  --mdx-sys-spacing-flex-mobile-xl: 3.5rem;
  --mdx-sys-spacing-flex-mobile-2xl: 5rem;
  --mdx-comp-button-primary-medium-background-color-default: rgb(255, 191, 41);
  --mdx-comp-button-primary-medium-background-color-hover: rgb(251, 158, 11);
  --mdx-comp-button-primary-medium-background-color-disabled: rgb(255, 218, 194);
  --mdx-comp-button-primary-medium-foreground-color-default: rgb(255, 255, 255);
  --mdx-comp-button-primary-medium-foreground-color-hover: rgb(255, 255, 255);
  --mdx-comp-button-primary-medium-foreground-color-disabled: rgb(255, 255, 255);
  --mdx-comp-button-primary-medium-font-default: 800 1.125rem/1.5rem 'Helvetica Now Text';
  --mdx-comp-button-primary-medium-border-width-default: 2px;
  --mdx-comp-button-primary-medium-border-width-hover: 2px;
  --mdx-comp-button-primary-medium-border-width-disabled: 2px;
  --mdx-comp-button-primary-medium-border-color-default: rgb(255, 191, 41);
  --mdx-comp-button-primary-medium-border-color-hover: rgb(251, 158, 11);
  --mdx-comp-button-primary-medium-border-color-disabled: rgb(255, 218, 194);
  --mdx-comp-button-primary-medium-border-radius-default: 4px;
  --mdx-comp-button-primary-medium-border-radius-hover: 4px;
  --mdx-comp-button-primary-medium-border-radius-disabled: 4px;
  --mdx-comp-button-primary-medium-padding-horizontal-default: 1.5rem;
  --mdx-comp-button-primary-medium-padding-horizontal-hover: 1.5rem;
  --mdx-comp-button-primary-medium-padding-horizontal-disabled: 1.5rem;
  --mdx-comp-button-primary-medium-padding-vertical-default: 0.75rem;
  --mdx-comp-button-primary-medium-padding-vertical-hover: 0.75rem;
  --mdx-comp-button-primary-medium-padding-vertical-disabled: 0.75rem;
  --mdx-comp-button-primary-medium-gap-icon-text-default: 0.5rem;
  --mdx-comp-button-secondary-medium-background-color-default: rgba(0, 0, 0, 0);
  --mdx-comp-button-secondary-medium-background-color-hover: rgba(0, 0, 0, 0);
  --mdx-comp-button-secondary-medium-background-color-disabled: rgba(0, 0, 0, 0);
  --mdx-comp-button-secondary-medium-foreground-color-default: rgb(255, 191, 41);
  --mdx-comp-button-secondary-medium-foreground-color-hover: rgb(251, 158, 11);
  --mdx-comp-button-secondary-medium-foreground-color-disabled: rgb(255, 218, 194);
  --mdx-comp-button-secondary-medium-border-color-default: rgb(255, 191, 41);
  --mdx-comp-button-secondary-medium-border-color-hover: rgb(251, 158, 11);
  --mdx-comp-button-secondary-medium-border-color-disabled: rgb(255, 218, 194);
  --mdx-comp-button-secondary-medium-border-width-default: 2px;
  --mdx-comp-button-secondary-medium-border-width-hover: 2px;
  --mdx-comp-button-secondary-medium-border-width-disabled: 2px;
  --mdx-comp-button-secondary-medium-font-default: 800 1.125rem/1.5rem 'Helvetica Now Text';
  --mdx-comp-button-secondary-medium-border-radius-default: 4px;
  --mdx-comp-button-secondary-medium-border-radius-hover: 4px;
  --mdx-comp-button-secondary-medium-border-radius-disabled: 4px;
  --mdx-comp-button-secondary-medium-padding-horizontal-default: 1.5rem;
  --mdx-comp-button-secondary-medium-padding-horizontal-hover: 1.5rem;
  --mdx-comp-button-secondary-medium-padding-horizontal-disabled: 1.5rem;
  --mdx-comp-button-secondary-medium-padding-vertical-default: 0.75rem;
  --mdx-comp-button-secondary-medium-padding-vertical-hover: 0.75rem;
  --mdx-comp-button-secondary-medium-padding-vertical-disabled: 0.75rem;
  --mdx-comp-button-secondary-medium-gap-icon-text-default: 0.5rem;
  --mdx-comp-button-tertiary-medium-background-color-default: rgba(0, 0, 0, 0);
  --mdx-comp-button-tertiary-medium-background-color-hover: rgb(255, 243, 235);
  --mdx-comp-button-tertiary-medium-background-color-disabled: rgba(0, 0, 0, 0);
  --mdx-comp-button-tertiary-medium-foreground-color-default: rgb(255, 191, 41);
  --mdx-comp-button-tertiary-medium-foreground-color-hover: rgb(255, 191, 41);
  --mdx-comp-button-tertiary-medium-foreground-color-disabled: rgb(224, 224, 224);
  --mdx-comp-button-tertiary-medium-border-color-default: rgba(0, 0, 0, 0);
  --mdx-comp-button-tertiary-medium-border-color-hover: rgba(0, 0, 0, 0);
  --mdx-comp-button-tertiary-medium-border-color-disabled: rgba(0, 0, 0, 0);
  --mdx-comp-button-tertiary-medium-border-width-default: 2px;
  --mdx-comp-button-tertiary-medium-border-width-hover: 2px;
  --mdx-comp-button-tertiary-medium-border-width-disabled: 2px;
  --mdx-comp-button-tertiary-medium-font-default: 800 1.125rem/1.5rem 'Helvetica Now Text';
  --mdx-comp-button-tertiary-medium-border-radius-default: 4px;
  --mdx-comp-button-tertiary-medium-border-radius-hover: 4px;
  --mdx-comp-button-tertiary-medium-border-radius-disabled: 4px;
  --mdx-comp-button-tertiary-medium-padding-horizontal-default: 1.5rem;
  --mdx-comp-button-tertiary-medium-padding-horizontal-hover: 1.5rem;
  --mdx-comp-button-tertiary-medium-padding-horizontal-disabled: 1.5rem;
  --mdx-comp-button-tertiary-medium-padding-vertical-default: 0.75rem;
  --mdx-comp-button-tertiary-medium-padding-vertical-hover: 0.75rem;
  --mdx-comp-button-tertiary-medium-padding-vertical-disabled: 0.75rem;
  --mdx-comp-button-tertiary-medium-gap-icon-text-default: 0.5rem;
  --mdx-comp-button-quaternary-medium-background-color-default: rgba(0, 0, 0, 0);
  --mdx-comp-button-quaternary-medium-background-color-hover: rgb(245, 245, 245);
  --mdx-comp-button-quaternary-medium-background-color-disabled: rgba(0, 0, 0, 0);
  --mdx-comp-button-quaternary-medium-foreground-color-default: rgb(128, 128, 128);
  --mdx-comp-button-quaternary-medium-foreground-color-hover: rgb(128, 128, 128);
  --mdx-comp-button-quaternary-medium-foreground-color-disabled: rgb(224, 224, 224);
  --mdx-comp-button-quaternary-medium-border-color-default: rgba(0, 0, 0, 0);
  --mdx-comp-button-quaternary-medium-border-color-hover: rgba(0, 0, 0, 0);
  --mdx-comp-button-quaternary-medium-border-color-disabled: rgba(0, 0, 0, 0);
  --mdx-comp-button-quaternary-medium-border-width-default: 2px;
  --mdx-comp-button-quaternary-medium-border-width-hover: 2px;
  --mdx-comp-button-quaternary-medium-border-width-disabled: 2px;
  --mdx-comp-button-quaternary-medium-font-default: 800 1.125rem/1.5rem 'Helvetica Now Text';
  --mdx-comp-button-quaternary-medium-border-radius-default: 4px;
  --mdx-comp-button-quaternary-medium-border-radius-hover: 4px;
  --mdx-comp-button-quaternary-medium-border-radius-disabled: 4px;
  --mdx-comp-button-quaternary-medium-padding-horizontal-default: 1.5rem;
  --mdx-comp-button-quaternary-medium-padding-horizontal-hover: 1.5rem;
  --mdx-comp-button-quaternary-medium-padding-horizontal-disabled: 1.5rem;
  --mdx-comp-button-quaternary-medium-padding-vertical-default: 0.75rem;
  --mdx-comp-button-quaternary-medium-padding-vertical-hover: 0.75rem;
  --mdx-comp-button-quaternary-medium-padding-vertical-disabled: 0.75rem;
  --mdx-comp-button-quaternary-medium-gap-icon-text-default: 0.5rem;
  --mdx-comp-link-color-default: rgb(255, 191, 41);
  --mdx-comp-link-color-hover: rgb(178, 72, 0);
  --mdx-comp-link-font-running-text: 400 1rem/1.5rem 'Helvetica Now Text';
  --mdx-comp-link-font-standalone: 400 1rem/1.5rem 'Helvetica Now Text';
  --mdx-comp-link-gab-icon-text-default: 0.25rem;
}