/**
  * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
  * NOTE: Within the component don't use any name spacing eg. component header don't use --header-default-color just use --color the namespace can be added by the Shadow as an html attribute
  * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
  * - if a component holds other components you should share the attribute namespace with its children
  */
/* font tracking */
@import url("https://cdn.fonts.net/t/1.css?apiType=css&projectid=0664bcd0-c491-11ec-9404-069abf4c3446");


@font-face{
	font-family:"OptimanovaLTW01";
	src:url("https://cdn.migros.ch/ch.migros/static/fonts/optimanova-condensed-medium/OptimaNovaCondensedMedium_normal_condensed.woff2") format("woff2"),url("https://cdn.migros.ch/ch.migros/static/fonts/optimanova-condensed-medium/OptimaNovaCondensedMedium_normal_condensed.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
  --color-disabled:var(--m-green-100);
  --color-hover:var(--m-green-600);
  --color-secondary:var(--m-green-900);
  --emotion-pictures-with-title-bg-color-custom:var(--m-green-900);
  --font-family-secondary:OptimanovaLTW01, sans-serif;
  --footer-default-a-color-hover:var(--m-green-600);
  --footer-default-a-color:var(--color);
  --footer-default-a-text-decoration-hover: underline;
  --footer-default-a-text-decoration:none;
  --footer-default-a-text-underline-offset:0.3em;
  --h2-font-family: OptimanovaLTW01, sans-serif;
  --h5-font-family: OptimanovaLTW01, sans-serif;
  --header-default-a-logo-top-custom:0;
  --header-default-a-logo-top-mobile-custom: calc(69px / 2 - 38px / 2);
  --header-default-a-menu-icon-background-color-custom:var(--color);
  --header-default-background-color-custom:var(--background-color);
  --header-default-border-bottom-custom: 1px solid var(--m-gray-300);
  --header-default-logo-width-custom:190px;
  --navigation-default-color-custom:var(--color);
  --teaser-title-figcaption-background-color: var(--m-white);

}
