<o-wrapper namespace="nature-wrapper-">
    <o-body-style class="first-mobile" only-render-attribute-to-css
        background-prop="url('../../../../img/pattern-flower.svg')" background-color-prop="#CADFBB"
        background-size-prop="20%" background-position-x-prop="right">
        <div class="spacer-half"></div>
        <h2 class="font-size-h1">Produits</h2>
        <p>Left<br>
            Width: 20%<br>
            Height: 100%<br>
            Position: right </p>
        <p>Right<br>
            Width: 20%<br>
            Height: 100%<br>
            Position: - </p>
    </o-body-style>
    <o-body-style class="first-mobile" only-render-attribute-to-css
        background-prop="url('../../../../img/pattern-flower.svg')" background-color-prop="#94BD75"
        background-size-prop="20%">
        <a-picture defaultSource="../../../../../src/img/Magasin nature pain bio.PNG"></a-picture>
    </o-body-style>
</o-wrapper>
<o-wrapper namespace="nature-wrapper-">
    <o-body-style class="first-mobile" only-render-attribute-to-css
        background-prop="url('../../../../img/pattern-flower.svg')" background-color-prop="#CADFBB"
        background-size-prop="20% 50%" background-position-y-prop="bottom" background-position-x-prop="right">
        <div class="spacer-half"></div>
        <h2 class="font-size-h1">Produits</h2>
        <p>Left<br>
        Width: 20%<br>
        Height: 50%<br>
        Position: right/bottom </p>
        <p>Right<br>
        Width: 100%<br>
        Height: 50%<br>
        Position: bottom </p>
    </o-body-style>
    <o-body-style class="first-mobile" only-render-attribute-to-css
        background-prop="url('../../../../img/pattern-flower.svg')" background-color-prop="#94BD75"
        background-size-prop="100% 50%" background-position-y-prop="bottom">
        <a-picture defaultSource="../../../../../src/img/Magasin nature pain bio.PNG"></a-picture>
    </o-body-style>
</o-wrapper>
<o-wrapper namespace="nature-wrapper-">
    <o-body-style only-render-attribute-to-css background-color-prop="#CADFBB" color-var="var(--color-secondary); ">
        <div class="spacer-half"></div>
        <h2 class="font-size-h1">Produits</h2>
        <p>Width: 100%</p>
        <p>Height: 50%</p>
        <p>Position: bottom</p>
    </o-body-style>
    <o-body-style class="first-mobile" only-render-attribute-to-css
        background-prop="url('../../../../img/pattern-flower.svg')" background-color-prop="#94BD75"
        background-size-prop="100% 50%" background-position-y-prop="bottom">
        <a-picture defaultSource="../../../../../src/img/Magasin nature pain bio.PNG"></a-picture>
    </o-body-style>
</o-wrapper>
<o-wrapper namespace="nature-wrapper-">
    <o-body-style only-render-attribute-to-css background-color-prop="#CADFBB" color-var="var(--color-secondary); ">
        <div class="spacer-half"></div>
        <h2 class="font-size-h1">Produits</h2>
        <p>Width: 20%</p>
        <p>Height: 100%</p>
        <p>Position: -</p>
        <p>Mobile: Bottom, 100% width, 20% height</p>
    </o-body-style>
    <o-body-style 
        class="first-mobile" 
        only-render-attribute-to-css
        background-prop="url('../../../../img/pattern-flower.svg')" 
        background-color-prop="#94BD75" 
        background-size-prop="20%"
        background-size-prop-mobile="100% 20%"
        background-position-y-prop-mobile="bottom" 
        background-position-y-prop-mobile="top"
    >
        <a-picture defaultSource="../../../../../src/img/Magasin nature pain bio.PNG"></a-picture>
    </o-body-style>
</o-wrapper>
<o-wrapper namespace="nature-wrapper-">
    <o-body-style only-render-attribute-to-css background-color-prop="#CADFBB" color-var="var(--color-secondary); ">
        <div class="spacer-half"></div>
        <h2 class="font-size-h1">Produits</h2>
        <p>Width: 50%</p>
        <p>Height: 100%</p>
        <p>Position: -</p>
    </o-body-style>
    <o-body-style 
        class="first-mobile" 
        only-render-attribute-to-css
        background-prop="url('../../../../img/pattern-flower.svg')" 
        background-color-prop="#94BD75"
        background-size-prop="50%" 
    >
        <a-picture defaultSource="../../../../../src/img/Magasin nature pain bio.PNG"></a-picture>
    </o-body-style>
</o-wrapper>

