/**
  * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
  * NOTE: Within the component don't use any name spacing eg. component header don't use --header-default-color just use --color the namespace can be added by the Shadow as an html attribute
  * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
  * - if a component holds other components you should share the attribute namespace with its children
  */
/* font tracking */
@import url("https://cdn.fonts.net/t/1.css?apiType=css&projectid=b2e5ea60-e0d9-11ec-b713-06e2001461d0");

@font-face {
  font-family: "MazzardRegular";
  src: url("https://cdn.migros.ch/ch.migros/static/fonts/Mazzard/Mazzard-H-W01-Regular.woff2") format("woff2"), url("https://cdn.migros.ch/ch.migros/static/fonts/Mazzard/Mazzard-H-W01-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MazzardSemiBold";
  src: url("https://cdn.migros.ch/ch.migros/static/fonts/Mazzard/Mazzard-H-W01-Semi-Bold.woff2 ") format("woff2"), url("https://cdn.migros.ch/ch.migros/static/fonts/Mazzard/Mazzard-H-W01-Semi-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --a-color: var(--m-white);
  --a-text-decoration-hover: none;
  --a-text-decoration: underline solid var(--color-secondary);
  --a-text-underline-offset: 0.2em;
  --article-default-intro-font-size-custom: 1.1em;
  --article-default-li-before-background-color-custom: var(--color-secondary);
  --article-default-link-collection-padding-custom: 2em 0;
  --background-color: #333333;
  --bg-color: var(--m-white);
  --bg-line-height-secondary: 1.6em;
  --bull-li-before-border-width: 0;
  --bull-li-before-height: 0.3125em;
  --bull-li-before-top: 0.625em;
  --bull-li-before-width: 0.3125em;
  --color-disabled: #DDD0BC;
  --color-hover: #86754d;
  --color-secondary: #CDB287;
  --color-tertiary:var(--m-white);
  --color: var(--m-white);
  --emotion-pictures-with-title-h2-font-family-secondary: var(--font-family-bold);
  --font-family-bold: MazzardSemiBold, HelveticaNowTextBold, HelveticaNowText, Helvetica, Arial, sans-serif;
  --font-family-secondary: MazzardRegular, sans-serif;
  --footer-default-ul-list-style: none;
  --header-default-a-logo-top-custom: calc(57px / 2 - 160px / 2);
  --header-default-a-logo-top-mobile-custom: 0;
  --header-default-a-menu-icon-background-color-custom: var(--m-white);
  --header-default-background-color-custom: var(--m-black);
  --header-default-logo-width-custom: 160px;
  --input-color: var(--m-black);
  --navigation-default-color-custom: var(--m-white);
  --pagination-default-a-color-hover-custom: var(--m-white);
  --picture-overflow-scale-up-image-rendering:auto;
  --teaser-overlay-bg-color-custom: var(--m-white);
  --teaser-plain-h2-margin-custom: 0;
  --teaser-tile-background-color-custom: var(--m-black);
}