/**
  * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
  * NOTE: Within the component don't use any name spacing eg. component header don't use --header-default-color just use --color the namespace can be added by the Shadow as an html attribute
  * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
  * - if a component holds other components you should share the attribute namespace with its children
  */
/* font tracking */
@import url("https://cdn.fonts.net/t/1.css?apiType=css&projectid=ce8745c0-c48c-11ec-9404-069abf4c3446");
:root {
  --color-disabled: #f9f5ef;
  --color-hover: #AF8B6B;
  --color-secondary: #694729;
  --footer-default-invert-background-color-custom:var(--m-black);
  --header-default-a-logo-top-custom: calc(62px / 2 - 90px / 2); /* header.height / 2 - logo.height / 2 */
  --header-default-a-menu-icon-background-color-custom:var(--color);
  --header-default-background-color-custom: var(--background-color);
  --header-default-border-bottom-custom: 1px solid var(--m-gray-300);
  --header-default-logo-width-custom:160px;
  --navigation-default-color-custom: var(--color);
  --search-input-width: 10em;
  --teaser-round-a-picture-width-custom:80%;
}
