<o-grid namespace="grid-2colums2rows-" first-container-horizontal>
    <o-grid namespace="grid-2colums2rows-" first-container-horizontal>
        <m-pagination answer-event-name="list-news" request-event-name="request-list-news"
            namespace="pagination-default-"></m-pagination>
    </o-grid>
    <contentful-news-list answer-event-name="list-news" request-event-name="request-list-news"
        namespace="news-list-default-"
        news-url="/src/es/components/web-components-toolbox/docs/Template.html?rootFolder=src&css=/src/css/variablesCustom.css&logo=/src/es/components/atoms/logo/default-/default-.html&nav=/src/es/components/molecules/navigation/default-/default-.html&footer=/src/es/components/organisms/footer/default-/default-.html&content=/src/es/components/pages/News.html"
        news-preview-namespace="">
    </contentful-news-list>
</o-grid>