/**
  * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
  * NOTE: Within the component don't use any name spacing eg. component header don't use --header-default-color just use --color the namespace can be added by the Shadow as an html attribute
  * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
  * - if a component holds other components you should share the attribute namespace with its children
  */
/* font tracking */
/*@import url("https://cdn.fonts.net/t/1.css?apiType=css&projectid=b2e5ea60-e0d9-11ec-b713-06e2001461d0");*/

:root {
  --color-active: #2f9dcc;
  --color-disabled: #27333a;
  --color-hover: #2f9dcc;
  --color-quaternary:#cc5299;
  --color-secondary: #0053a6;
  --color-tertiary: #2f9dcc;
  --details-default-svg-color-custom: var(--color-tertiary);
  --download-box-shadow-color-custom: var(--download-color-custom);
  --download-color-custom: var(--color-tertiary);
  --emotion-pictures-default-img-max-height: 50vh;
  --emotion-pictures-with-button-img-max-height: var(--emotion-pictures-default-img-max-height);
  --emotion-pictures-with-logo-img-max-height: var(--emotion-pictures-default-img-max-height);
  --emotion-pictures-with-title-img-max-height: var(--emotion-pictures-default-img-max-height);
  --footer-default-h4-color: var(--background-color);
  --footer-default-invert-a-color-hover-custom: var(--color-tertiary);
  --footer-default-invert-color-hover-custom: var(--color-tertiary);
  --footer-default-invert-orange-a-color-hover-custom: var(--color-hover);
  --footer-default-invert-orange-background-color-custom: var(--color-tertiary);
  --footer-default-invert-svg-color-custom: var(--background-color);
  --footer-default-invert-svg-color-hover-custom: var(--color-tertiary);
  --h-color: var(--color-secondary);
  --h1-font-size: calc(1.5 * 1.75em);
  --h6-font-family: var(--font-family-secondary);
  --h6-font-size: var(--h2-font-size, 1.5em);
  --header-default-a-logo-top-custom: calc(60.5px / 2 - 60px / 2);
  --header-default-a-logo-top-mobile-custom: -0.5em;
  --header-default-logo-width-custom: min(5em, 60px);
  --hr-border-bottom: 2px dotted var(--m-gray-600);
  --hr-border-width: 0 0 2px;
  --hr-secondary-border-bottom: 2px solid var(--color-secondary);
  --hr-secondary-opacity: 1;
  --navigation-alnatura-a-link-line-height-mobile: 1.5;
  --navigation-alnatura-a-link-line-height: 1.5;
  --navigation-alnatura-color-mobile-custom: var(--navigation-alnatura-color-second-level-custom);
  --navigation-alnatura-color-second-level-custom: var(--color);
  --navigation-alnatura-line-height-mobile: 1.5;
  --news-alnatura-line-height-mobile:100%;
  --news-alnatura-line-height:100%;
  --picture-close-btn-background-color:var(--color-secondary);
  --search-input-width-big:100%;
  --teaser-round-figcaption-color: var(--color-secondary);
  --teaser-tile-rounded-h6-figcaption-color-custom: var(--color-secondary);
  --title-border-display: none;
}
