<div style="width: 90vw; margin: 0 auto 40px; border-bottom: 1px solid var(--steps-color-black);">
    <m-steps-event-card 
        choreographer="Botis Seva"
        company="Far From The Norm (GBR)"
        eventIcons='["uebertitel","einfuehrung","nachbesprechung","familien"]'
        location="Neuchatel"
        locationIcons='["hoerbenachteiligung","rollstuhlgaengig"]'
        locationSubline="Théatre du Passage, ADN"
        production="BLKDOG"
        soldOut="false"
        textButtonTickets="Tickets"
        textLinkDetails="Mehr Details"
        textSoldOut="ausverkauft"
        textTimeSuffix="Uhr"
        timestamp="1692122400"
    ></m-steps-event-card>

    <m-steps-event-card 
        choreographer="Hans Muster"
        company="Mustername auf 4 Zeilen (DE)"
        eventIcons='["uebertitel","einfuehrung"]'
        location="St. Gallen"
        locationIcons='["hoerbenachteiligung"]'
        locationSubline="Theater St. Gallen, Schauspielhaus"
        production="Muster"
        soldOut="true"
        textButtonTickets="Tickets"
        textLinkDetails="Mehr Details"
        textSoldOut="ausverkauft"
        textTimeSuffix="Uhr"
        timestamp="1703442600"
    ></m-steps-event-card>

    <m-steps-event-card 
        choreographer="Millena Muster"
        company="Mustername (CH)"
        eventIcons='["uebertitel","einfuehrung","nachbesprechung"]'
        location="Basel"
        locationIcons='["hoerbenachteiligung","rollstuhlgaengig"]'
        locationSubline="Kaserne Muster Muster auf"
        production="Muster Yeah"
        soldOut="false"
        textButtonTickets="Tickets"
        textLinkDetails="Mehr Details"
        textSoldOut="ausverkauft"
        textTimeSuffix="Uhr"
        timestamp="1692208800"
    ></m-steps-event-card>
</div>

<script src="../molecules/eventCard/EventCard.js" type="module"></script>
