<a-emotion-pictures namespace="emotion-pictures-with-logo-" height-mobile="15em">
    <a href="#">
        <div>
            <h2 class="bg-color font-size-big font-family-secondary">
                Titel Mood Image
            </h2>
            <h2 class="bg-color font-family-secondary subline">Dein Feedback ist uns wichtig! Ob Komplimente, Fragen,
                Kritik oder Wünsche - wir sind für dich da.</h2>
            <div class="spacer-one">
            </div>
            <a-button hover-on-parent-shadow-root-host namespace="button-primary-" href="/delivery/" target="_self"
                tabindex="0" role="link" data-href="/delivery/">
                Order now
            </a-button>
        </div>
        <a-picture picture-load defaultSource="../../../../img/emotion-pictures/emotion1.jpeg" alt="randomized image">
        </a-picture>
    </a>
</a-emotion-pictures>
<h2 class="title-border">Alnatura Rezepte</h2>
<style>
    :host {
        --content-width: 80%;
    }
</style>
<a-input
    inputid="inputSearch"
    placeholder="Suchen..."
    submit-search="request-list-recipe"
    search=""
    type=search
    any-key-listener
    change-listener
    delete-listener
    answer-event-name="list-recipe"
    active-detail-property-name="fetch:searchTerm"
></a-input>
<o-grid namespace="grid-2colums2rows-" first-container-vertical first-column-with="20%">
    <section>
        <m-tag-filter namespace="tag-filter-vertical-">
            <a-button namespace="button-category-" tag="Drinks" answer-event-name="list-recipe"
                request-event-name="request-list-recipe" active-detail-property-name="fetch:tag">Getränke</a-button>
            <a-button namespace="button-category-" tag="Appetizers" answer-event-name="list-recipe"
                request-event-name="request-list-recipe" active-detail-property-name="fetch:tag">Vorspeisen</a-button>
            <a-button namespace="button-category-" tag="MainDishes" answer-event-name="list-recipe"
                request-event-name="request-list-recipe" active-detail-property-name="fetch:tag">Hauptgerichte</a-button>
            <a-button namespace="button-category-" tag="DessertsAndBaking" answer-event-name="list-recipe"
                request-event-name="request-list-recipe" active-detail-property-name="fetch:tag">Dessert & Backen</a-button>
            <a-button namespace="button-category-" tag="DIY" answer-event-name="list-recipe"
                request-event-name="request-list-recipe" active-detail-property-name="fetch:tag">DIY</a-button>
        </m-tag-filter>
        <o-grid namespace="grid-2colums2rows-" first-container-horizontal>
            <m-tag-filter namespace="tag-filter-horizontal-" answer-event-name="list-recipe"
                request-event-name="request-list-recipe">
                <a-button namespace="button-category-" tag="Vegetarian" answer-event-name="list-recipe"
                    request-event-name="request-list-recipe" active-detail-property-name="fetch:tag">Vegetarisch</a-button>
                <a-button namespace="button-category-" tag="GlutenFree" answer-event-name="list-recipe"
                    request-event-name="request-list-recipe" active-detail-property-name="fetch:tag">Glutenfrei</a-button>
                <a-button namespace="button-category-" tag="Vegan" answer-event-name="list-recipe"
                    request-event-name="request-list-recipe" active-detail-property-name="fetch:tag">Vegan</a-button>
                <a-button namespace="button-category-" tag="LactoseFree" answer-event-name="list-recipe"
                    request-event-name="request-list-recipe" active-detail-property-name="fetch:tag">Laktosefrei</a-button>
            </m-tag-filter>
            <m-pagination answer-event-name="list-recipe" request-event-name="request-list-recipe"
                namespace="pagination-default-" compact></m-pagination>
        </o-grid>
        <m-recipe-list answer-event-name="list-recipe" request-event-name="request-list-recipe"
            namespace="recipe-list-default-">
        </m-recipe-list>
    </section>
</o-grid>