<o-body-style only-render-attribute-to-css emotion-default-width-var="100%" grid-2colums2rows-p-font-size-var="var(--p-font-size-mobile)">
    <a-emotion-pictures namespace="emotion-default-">
        <a href="#"><a-picture picture-load defaultSource="../../../../img/nature_entree_magasin_.png"
                alt="randomized image"></a-picture></a>
    </a-emotion-pictures>
    <o-grid namespace="grid-2colums2rows-" first-container-vertical first-column-with="30%">
        <section>
            <o-body-style only-render-attribute-to-css background-color-prop="#D48A42" color-prop="var(--background-color)" padding-prop="var(--content-spacing)" padding-prop-mobile="var(--content-spacing-mobile)">
                <style>
                    :host {
                        --table-vertical-align: middle;
                        --table-border-collapse: separate;
                        --table-margin: 0 0 var(--content-spacing) 0;
                        --table-width: auto;
                        --table-border-spacing: 0 0.5em;
                        --table-margin: 0;
                        --table-border-collapse: separate;
                        --table-border-spacing: 0.5em;
                        --table-margin: 0;
                        --h3-font-size: 1em;
                        --h3-font-size-mobile: 1em;
                        --h-margin-bottom: 0.4em;
                        --h3-margin: 0 0 1.143em;
                        --h-color: var(--background-color);
                    }
                
                    :host .ingredients {
                        --table-vertical-align: top;
                        --table-margin: 0;
                        --table-border-collapse: separate;
                        --table-border-spacing: 0;
                        --table-margin: 0;
                    }

                    :host h3 {
                        --h3-margin-bottom: 1.143em;
                    }
                </style>

                <o-body-style only-render-attribute-to-css display="none" display-mobile="block">
                    <h2 class="font-size-h1">Wellington champignons (H2)</h2>
                </o-body-style>

                <table>
                    <tr>
                        <td>
                            <svg width="38" height="40" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 107.99 115.86">
                                <path fill="#ffffff" d="m0,54.96C.64,36.33,6.18,20.52,21.04,10.32c20.11-13.8,45.96-15.17,65.77,4.56,9.92,9.88,16.54,21.68,19.88,35.2,3.05,12.34.59,23.94-6.12,34.59-7.66,12.14-17.99,21.46-31.13,27.29-14.31,6.35-28.19,4.99-40.65-4.52-14.18-10.82-24.08-24.73-27.65-42.55-.71-3.56-.84-7.24-1.14-9.93m11.52,14.39c1.45-.24,2.14-.32,2.81-.48,10.19-2.56,20.27-5.66,30.59-7.49,6.28-1.12,9.05-4.57,11.48-9.78,5.56-11.96,5.49-24.16,2.44-36.59-.73-2.97-2.28-5.51-5.6-7.13-.81,16.87-1.6,33.39-2.41,50.17-7.07-2.7-14.14-4.21-21.43-1.49-6.85,2.56-14.22,4.41-17.87,12.79"></path>
                            </svg>
                        </td>
                        <td>120min</td>
                    </tr>
                    <tr>
                        <td>
                            <svg height="33" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60.75 33">
                                <path fill="#ffffff" d="m60.75,19.07c-7.05.57-14.11,1.14-21.22,1.72.38-4.57,2.38-7.15,6.64-7.81,8.44-1.3,10.85-.75,14.58,5.36v.73Z"></path>
                                <path fill="#ffffff" d="m22.28,22.77c-7.23.55-14.11,1.07-21.11,1.6.92-5.41,3.58-7.73,8.83-8.14,7.59-.59,10.19.72,12.27,6.54Z"></path>
                                <path fill="#ffffff" d="m43.02,30.15c-7,.54-13.9,1.08-20.88,1.62.62-5.3,3.46-7.77,9.01-8.19,7.3-.55,10.21.97,11.87,6.57Z"></path>
                                <path fill="#ffffff" d="m30.17,11.77c2.81-.06,5.64,2.81,5.41,5.8-.22,2.89-2.13,4.62-4.97,5.05-2.54.38-5.1-2.49-5.19-5.51-.09-3.12,1.83-5.27,4.75-5.33Z"></path>
                                <path fill="#ffffff" d="m4.52,9.61c-.05-3.09,1.94-5.21,4.89-5.21,2.69,0,5.22,2.61,5.37,5.53.12,2.34-2.69,5.27-5.15,5.37-2.51.1-5.07-2.74-5.11-5.69Z"></path>
                                <path fill="#ffffff" d="m47.73.76c2.77.08,5.62,3.18,5.19,6.02-.43,2.8-2.32,4.57-5.23,4.84-2.54.23-4.97-2.76-4.96-5.76.01-3.1,2.04-5.18,5-5.1Z"></path>
                            </svg>
                        </td>
                        <td>6-8 personnes</td>
                    </tr>
                </table>

                <hr class="secondary" />

                <b>Ingrédients</b>

                <div class="spacer-one"></div>

                <h3>Croûte</h3>

                <table class="ingredients">
                    <tbody>
                        <tr>
                            <td align="right">70 g</td>
                            <td>d’amandes</td>
                        </tr>
                        <tr>
                            <td align="right">30 g</td>
                            <td>de sucre brun</td>
                        </tr>
                        <tr>
                            <td align="right">400 g</td>
                            <td>de tofu soyeux</td>
                        </tr>
                        <tr>
                            <td align="right">320 g</td>
                            <td>de chocolat blanc végane</td>
                        </tr>
                        <tr>
                            <td align="right">75 g</td>
                            <td>de lait végétal</td>
                        </tr>
                        <tr>
                            <td align="right">70 g</td>
                            <td>d’amandes</td>
                        </tr>
                        <tr>
                            <td align="right">30 g</td>
                            <td>de crackers nature</td>
                        </tr>
                        <tr>
                            <td align="right">10</td>
                            <td>dattes medjool</td>
                        </tr>
                        <tr>
                            <td align="right">1 pincée</td>
                            <td>de sel</td>
                        </tr>
                        <tr>
                            <td align="right">10</td>
                            <td>dattes</td>
                        </tr>
                        <tr>
                            <td align="right">50 g</td>
                            <td>de lait végétal</td>
                        </tr>
                    </tbody>
                </table>

                <div class="spacer-one"></div>

                <h3>Farce</h3>

                <table class="ingredients">
                    <tbody>
                        <tr>
                            <td align="right">70 g</td>
                            <td>d’amandes</td>
                        </tr>
                        <tr>
                            <td align="right">30 g</td>
                            <td>de sucre brun</td>
                        </tr>
                        <tr>
                            <td align="right">400 g</td>
                            <td>de tofu soyeux</td>
                        </tr>
                        <tr>
                            <td align="right">320 g</td>
                            <td>de chocolat blanc végane</td>
                        </tr>
                        <tr>
                            <td align="right">75 g</td>
                            <td>de lait végétal</td>
                        </tr>
                        <tr>
                            <td align="right">70 g</td>
                            <td>d’amandes</td>
                        </tr>
                        <tr>
                            <td align="right">30 g</td>
                            <td>de crackers nature</td>
                        </tr>
                        <tr>
                            <td align="right">10</td>
                            <td>dattes medjool</td>
                        </tr>
                        <tr>
                            <td align="right">1 pincée</td>
                            <td>de sel</td>
                        </tr>
                        <tr>
                            <td align="right">10</td>
                            <td>dattes</td>
                        </tr>
                        <tr>
                            <td align="right">50 g</td>
                            <td>de lait végétal</td>
                        </tr>
                    </tbody>
                </table>
            </o-body-style>

            <o-body-style only-render-attribute-to-css background-color-prop="#EEE2D5" color-prop="var(--color-tertiary)" padding-prop="var(--content-spacing)" padding-prop-mobile="var(--content-spacing-mobile)">
                <style>
                    :host {
                        --h-margin-bottom: 1em;
                    }
                </style>
                <div>
                    <o-body-style only-render-attribute-to-css display-mobile="none">
                        <h2 class="font-size-h1">Wellington champignons (H2)</h2>
                    </o-body-style>

                    <o-body-style only-render-attribute-to-css margin-bottom-prop="var(--h-margin-bottom)">
                        <h3>Titel (H3)</h3>
                    </o-body-style>
                    
                    <div>
                        <ol class="big">
                            <li>Dans un bol, mélangez tous les ingrédients de la croûte. Pétrissez jusqu’à ce qu’une pâte lisse
                                se
                                forme. Aplatissez
                                ensuite la pâte en un disque épais, couvrez-la et réfrigérez-la pendant 20 min.
                            </li>
                            <li>
                                t que vous étalez la croûte. Préchauffez le four à 200°C. Commencez par étaler uniformément la
                                pâte
                                sur une surface
                                farinée. Placez la farce au milieu et modelez-la en forme de bûche aux côtés arrondis. Une fois
                                la
                                farc
                                e en place, faites une série d’incisions d’environ 2 cm dans la pâte des deux côtés de la farce,
                                en
                                légère diagonale.
                                Repliez les deux rabats, en haut et en bas, comme si vous emballiez un cadeau, puis tressez les
                                bandes de pâte sur le
                                dessus de la farce, en alternant les côtés. Enfournez pendant
                                min ou jusqu’à ce que la croûte soit bien dorée. Brossez le Wellington avec un mélange égal
                                d’huile
                                d’olive et de sirop
                                d’érable pour un rendu brillant. Coupez la partie haute des têtes d’ail en y ajoutant un filet
                                d’huile d’olive et les
                                enveloppez dans du papier aluminium. Mettez-les au four penda
                                nt 40 minutes.
                            </li>
                            <li>
                                Coupez les oignons en lamelles ou en brunoise, puis faites-les revenir dans une poêle avec de
                                l’huile
                                d’olive. Ajoutez le sirop d’érable, le bâton de cannelle et
                                l’anis étoilé. Couvrez la poêle avec son couvercle et laissez doucement caraméliser les oignons.
                                Salez avec environ 2
                                grosses pincées de sel. Pressez le jus de manda
                            </li>
                        </ol>
                        <p>asdjkf asldjf</p>
                    </div>
                </div>
            </o-body-style>
        </section>
    </o-grid>
</o-body-style>
