<o-body-style only-render-attribute-to-css emotion-default-width-var="100%" grid-2colums2rows-p-font-size-var="var(--p-font-size-mobile)">
    <a-emotion-pictures namespace="emotion-default-">
        <a href="#"><a-picture picture-load defaultSource="../../../../img/nature_entree_magasin_.png"
                alt="randomized image"></a-picture></a>
    </a-emotion-pictures>
    <o-grid namespace="grid-2colums2rows-" first-container-vertical first-column-with="30%">
        <section>
            <div style="background-color: #D48A42; color: var(--background-color); ">
                <style>
                    :host {
                        --table-vertical-align: middle;
                        --table-border-collapse: separate;
                        --table-margin: 0 0 var(--content-spacing) 0;
                        --table-width: auto;
                        --table-border-spacing: 0 0.5em;
                        --table-margin: 0;
                        --table-border-collapse: separate;
                        --table-border-spacing: 0.5em;
                        --table-margin: 0;
                    }
                
                    :host .ingredients {
                        --table-vertical-align: top;
                        --table-margin: 0;
                        --table-border-collapse: separate;
                        --table-border-spacing: 0 0.5em;
                        --table-margin: 0;
                    }
                </style>
                <table>
                    <tr>
                        <td>
                            <svg width="38" height="40" viewBox="0 0 38 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M37.2003 17.2899C36.0466 12.6231 33.7602 8.5461 30.3357 5.13731C23.492 -1.67505 14.5707 -1.20001 7.62785 3.56603C2.49639 7.08444 0.580576 12.5448 0.361328 18.9761C0.465732 19.9053 0.507494 21.1738 0.752843 22.4057C1.98481 28.5551 5.40404 33.3577 10.3006 37.0954C14.602 40.3789 19.3942 40.8487 24.3325 38.6562C28.8688 36.6412 32.4395 33.4256 35.0809 29.2337C37.3986 25.5587 38.2443 21.5496 37.1951 17.2952L37.2003 17.2899ZM19.8327 17.812C18.9974 19.6129 18.0421 20.8031 15.8705 21.1894C12.3104 21.8211 8.82849 22.8964 5.31008 23.7786C5.08039 23.8361 4.84026 23.8622 4.33912 23.9457C5.60241 21.0537 8.14465 20.4116 10.5094 19.5294C13.0308 18.5898 15.4686 19.1118 17.9064 20.041C18.1831 14.2518 18.4598 8.54088 18.7364 2.72036C19.8797 3.27892 20.4173 4.15591 20.6679 5.17907C21.7224 9.4753 21.7485 13.6828 19.8275 17.812H19.8327Z"
                                    fill="#EEE2D5" />
                            </svg>
                        </td>
                        <td>120min</td>
                    </tr>
                    <tr>
                        <td>
                            <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0 33C0.123378 32.2571 0.179926 31.6189 0.334148 31.0121C1.29032 27.2352 4.36448 24.5934 8.1532 24.2586C9.75711 24.1174 11.3662 23.9814 12.9701 23.8349C17.1495 23.453 21.2621 26.4767 22.2285 30.6407C22.2645 30.7872 22.2697 30.9389 22.3056 31.19C14.9133 31.7916 7.54146 32.3879 0.00514183 33"
                                    fill="#EEE2D5" />
                                <path
                                    d="M3.61328 17.3378C3.65955 15.4022 4.14792 13.9166 5.4074 12.8651C7.71044 10.9505 11.1753 10.8772 13.2676 14.2043C13.8125 15.0674 14.234 16.0927 14.414 17.0971C14.7841 19.1478 13.7457 20.7067 12.2754 21.9622C11.7048 22.4487 11.0262 22.841 10.3374 23.1444C9.13443 23.6728 7.91608 23.542 6.83652 22.7939C4.85734 21.4181 3.68525 19.5401 3.61842 17.3378"
                                    fill="#EEE2D5" />
                                <path
                                    d="M21.3145 5.79773C21.3607 3.86219 21.8491 2.37652 23.1086 1.32505C25.4116 -0.589577 28.8765 -0.662807 30.9687 2.66424C31.5137 3.52739 31.9352 4.55271 32.1151 5.5571C32.4853 7.60774 31.4468 9.16663 29.9766 10.4221C29.406 10.9086 28.7274 11.301 28.0385 11.6044C26.8356 12.1327 25.6172 12.002 24.5377 11.2539C22.5585 9.87808 21.3864 8.00007 21.3196 5.79773"
                                    fill="#EEE2D5" />
                            </svg>
                        </td>
                        <td>6-8 personnes</td>
                    </tr>
                </table>
                <hr class="secondary" />
                <b>LISTE D’INGRÉDIENTS:</b>
                <table class="ingredients">
                    <tbody>
                        <tr>
                            <td align="right">70 g</td>
                            <td>d’amandes</td>
                        </tr>
                        <tr>
                            <td align="right">30 g</td>
                            <td>de sucre brun</td>
                        </tr>
                        <tr>
                            <td align="right">400 g</td>
                            <td>de tofu soyeux</td>
                        </tr>
                        <tr>
                            <td align="right">320 g</td>
                            <td>de chocolat blanc végane</td>
                        </tr>
                        <tr>
                            <td align="right">75 g</td>
                            <td>de lait végétal</td>
                        </tr>
                        <tr>
                            <td align="right">70 g</td>
                            <td>d’amandes</td>
                        </tr>
                        <tr>
                            <td align="right">30 g</td>
                            <td>de crackers nature</td>
                        </tr>
                        <tr>
                            <td align="right">10</td>
                            <td>dattes medjool</td>
                        </tr>
                        <tr>
                            <td align="right">1 pincée</td>
                            <td>de sel</td>
                        </tr>
                        <tr>
                            <td align="right">10</td>
                            <td>dattes</td>
                        </tr>
                        <tr>
                            <td align="right">50 g</td>
                            <td>de lait végétal</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="background-color: #EEE2D5; color: var(--color-tertiary);">
                <h2 class="font-size-h1">Wellington champignons (H2)</h2>
                <h3>Titel (H3)</h3>
                <div>
                    <ol class="big">
                        <li>Dans un bol, mélangez tous les ingrédients de la croûte. Pétrissez jusqu’à ce qu’une pâte lisse
                            se
                            forme. Aplatissez
                            ensuite la pâte en un disque épais, couvrez-la et réfrigérez-la pendant 20 min.
                        </li>
                        <li>
                            t que vous étalez la croûte. Préchauffez le four à 200°C. Commencez par étaler uniformément la
                            pâte
                            sur une surface
                            farinée. Placez la farce au milieu et modelez-la en forme de bûche aux côtés arrondis. Une fois
                            la
                            farc
                            e en place, faites une série d’incisions d’environ 2 cm dans la pâte des deux côtés de la farce,
                            en
                            légère diagonale.
                            Repliez les deux rabats, en haut et en bas, comme si vous emballiez un cadeau, puis tressez les
                            bandes de pâte sur le
                            dessus de la farce, en alternant les côtés. Enfournez pendant
                            min ou jusqu’à ce que la croûte soit bien dorée. Brossez le Wellington avec un mélange égal
                            d’huile
                            d’olive et de sirop
                            d’érable pour un rendu brillant. Coupez la partie haute des têtes d’ail en y ajoutant un filet
                            d’huile d’olive et les
                            enveloppez dans du papier aluminium. Mettez-les au four penda
                            nt 40 minutes.
                        </li>
                        <li>
                            Coupez les oignons en lamelles ou en brunoise, puis faites-les revenir dans une poêle avec de
                            l’huile
                            d’olive. Ajoutez le sirop d’érable, le bâton de cannelle et
                            l’anis étoilé. Couvrez la poêle avec son couvercle et laissez doucement caraméliser les oignons.
                            Salez avec environ 2
                            grosses pincées de sel. Pressez le jus de manda
                        </li>
                    </ol>
                    <p>asdjkf asldjf</p>
                </div>
            </div>
        </section>
    </o-grid>
</o-body-style>
