<nature-m-image-title background-color="#e4d5c4" color="#003d4c">
    <div class="title">
        <h2 class="font-size-h1">Notre concept</h2>
    </div>
    <div class="text">
        <h3 class="title-border">Vos magasins spécialistes du bio</h3>
        <p>Nos magasins nature&amp; vous proposent un assortiment de produits bio spécialisés et des conseils personnalisés. Au cœur de Migros Balexert et Plainpalais, retrouvez des magasins uniques dédiés au bio comprenant tous les produits dont vous aurez besoin.</p>
        <p>Partage et échanges vous attendent également lors de nos ateliers et dégustations. Carole, Valérie et leurs équipes se réjouissent de vous accueillir.</p>
    </div>
    <a-emotion-pictures namespace="emotion-default-" role="banner">
        <a-picture defaultSource=" ../../../../img/nature_entree_magasin_.png"></a-picture>
    </a-emotion-pictures>
</nature-m-image-title>

<o-body-style only-render-attribute-to-css
    background-image-before-prop="url('../../../../img/pattern-flower.svg')"
    background-size-before-prop='30% 55%' background-size-before-mobile-prop='50% 30%' 
    background-position-y-prop-before='top' 
    left-before-prop='0' top-before-prop='0' 
    position-prop='relative' margin-prop='0'>
    <nature-m-image-title background-color="#e4d5c4" color="#003d4c">
        <div class="title">
            <h2 class="font-size-h1">Notre concept</h2>
        </div>
        <div class="text">
            <h3 class="title-border">Vos magasins spécialistes du bio</h3>
            <p>Nos magasins nature&amp; vous proposent un assortiment de produits bio spécialisés et des conseils personnalisés. Au cœur de Migros Balexert et Plainpalais, retrouvez des magasins uniques dédiés au bio comprenant tous les produits dont vous aurez besoin.</p>
            <p>Partage et échanges vous attendent également lors de nos ateliers et dégustations. Carole, Valérie et leurs équipes se réjouissent de vous accueillir.</p>
        </div>
        <a-emotion-pictures namespace="emotion-default-" role="banner">
            <a-picture defaultSource="../../../../img/nature_entree_magasin_.png"></a-picture>
        </a-emotion-pictures>
    </nature-m-image-title>
</o-body-style>

<!-- load web components for Demo Purposes Only -->
<script type="text/javascript" src="../../web-components-toolbox/docs/es/loader.js"></script>
<script type="text/javascript" src="../../web-components-toolbox/docs//documenter.js?component=ImageTitle.js"></script>