<style>
html, body {
    margin:0;
    height:100%;
    overflow:hidden;
}
.bg-container {
    background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    width:100%;
    height:100%; 
    box-sizing:border-box;
}
.click {
    position:absolute;
    bottom:0;
    left:0;
    height: 20%;
    width: 100%;
}
</style>

<div class="bg-container">
    <a href="http://www.kaimug.ch"><div class="click"></div></a>
</div>