/**
  * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
  * NOTE: Within the component don't use any name spacing eg. component header don't use --header-default-color just use --color the namespace can be added by the Shadow as an html attribute
  * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
  * - if a component holds other components you should share the attribute namespace with its children
  */

/* font tracking */
@import url("https://cdn.fonts.net/t/1.css?apiType=css&projectid=fabdc738-2ca3-431d-adb5-ac2db94a5a4a");

:root {
  --bg-color-hover: white;
  --bull-color-hover: var(--m-orange-600);
  --bull-li-before-height: 0.4em;
  --bull-li-before-width: 0.4em;
  --color-disabled: #c8dc6166;
  --color-hover: #72A94F;
  --color-primary: #34874A;
  --emotion-pictures-with-button-bg-background-color-custom: var(--color-secondary);
  --emotion-pictures-with-button-bg-color-custom: var(--bg-color-hover);
  --emotion-pictures-with-logo-bg-background-color-custom: var(--color-secondary);
  --emotion-pictures-with-logo-bg-color-custom: var(--bg-color-hover);
  --emotion-pictures-with-title-bg-background-color-custom: var(--color-secondary);
  --emotion-pictures-with-title-bg-color-custom: var(--bg-color-hover);
  --footer-default-invert-background-color-custom: var(--color-primary);
  --header-default-a-logo-top-custom: calc(62px / 2 - 90px / 2);
  --header-default-a-logo-top-mobile-custom: 1em;
  --wrapper-text-color: var(--color-primary);
  --header-default-a-menu-icon-background-color-custom: var(--color);
  --header-default-background-color-custom: var(--background-color);
  --header-default-border-bottom-custom: 1px solid var(--m-gray-300);
  --header-default-logo-width-custom: min(9em, 138px);
  --navigation-default-color-custom: var(--color);
  --ol-color: var(--color-secondary);
  --hotspot-width: 55%;
  --hotspot-picture-img-max-height: 100%;
  --hotspot-picture-img-width: 100%;
  --navigation-yearbooks-header-default-border-bottom: none;
}