:root {
  --mdx-base-color-global-white: rgb(255, 255, 255);
  --mdx-base-color-global-black: rgb(0, 0, 0);
  --mdx-base-color-global-fully-transparent: rgba(0, 0, 0, 0);
  --mdx-base-color-grey-100: rgb(245, 245, 245);
  --mdx-base-color-grey-200: rgb(237, 237, 237);
  --mdx-base-color-grey-300: rgb(224, 224, 224);
  --mdx-base-color-grey-400: rgb(191, 191, 191);
  --mdx-base-color-grey-500: rgb(166, 166, 166);
  --mdx-base-color-grey-600: rgb(128, 128, 128);
  --mdx-base-color-grey-700: rgb(115, 115, 115);
  --mdx-base-color-grey-800: rgb(89, 89, 89);
  --mdx-base-color-grey-900: rgb(64, 64, 64);
  --mdx-base-color-grey-950: rgb(51, 51, 51);
  --mdx-base-color-grey-opacity-950-25: rgba(51, 51, 51, 0.25);
  --mdx-base-color-grey-opacity-950-50: rgba(51, 51, 51, 0.5);
  --mdx-base-color-grey-opacity-950-75: rgba(51, 51, 51, 0.75);
  --mdx-base-color-grey-opacity-web: rgba(116, 116, 116, 0.66);
  --mdx-base-color-orange-100: rgb(255, 243, 235);
  --mdx-base-color-orange-200: rgb(255, 233, 219);
  --mdx-base-color-orange-300: rgb(255, 218, 194);
  --mdx-base-color-orange-400: rgb(255, 179, 128);
  --mdx-base-color-orange-500: rgb(255, 148, 76);
  --mdx-base-color-orange-600: rgb(255, 102, 0);
  --mdx-base-color-orange-650: rgb(251, 100, 0);
  --mdx-base-color-orange-700: rgb(229, 92, 0);
  --mdx-base-color-orange-750: rgb(202, 79, 0);
  --mdx-base-color-orange-800: rgb(178, 72, 0);
  --mdx-base-color-orange-900: rgb(128, 51, 0);
  --mdx-base-color-orange-opacity-600-25: rgba(255, 102, 0, 0.25);
  --mdx-base-color-orange-opacity-600-50: rgba(255, 102, 0, 0.5);
  --mdx-base-color-orange-opacity-600-75: rgba(255, 102, 0, 0.75);
  --mdx-base-color-harvest-gold-100: rgb(255, 238, 199);
  --mdx-base-color-harvest-gold-200: rgb(255, 234, 184);
  --mdx-base-color-harvest-gold-300: rgb(255, 226, 158);
  --mdx-base-color-harvest-gold-400: rgb(255, 206, 92);
  --mdx-base-color-harvest-gold-500: rgb(255, 191, 41);
  --mdx-base-color-harvest-gold-600: rgb(219, 154, 0);
  --mdx-base-color-harvest-gold-700: rgb(194, 136, 0);
  --mdx-base-color-harvest-gold-800: rgb(143, 100, 0);
  --mdx-base-color-harvest-gold-900: rgb(92, 64, 0);
  --mdx-base-color-harvest-gold-opacity-600-25: rgba(219, 154, 0, 0.25);
  --mdx-base-color-harvest-gold-opacity-600-50: rgba(219, 154, 0, 0.5);
  --mdx-base-color-harvest-gold-opacity-600-75: rgba(219, 154, 0, 0.75);
  --mdx-base-color-vivid-cerulean-100: rgb(236, 248, 254);
  --mdx-base-color-vivid-cerulean-200: rgb(221, 242, 253);
  --mdx-base-color-vivid-cerulean-300: rgb(197, 234, 251);
  --mdx-base-color-vivid-cerulean-400: rgb(135, 210, 247);
  --mdx-base-color-vivid-cerulean-500: rgb(87, 193, 244);
  --mdx-base-color-vivid-cerulean-600: rgb(15, 166, 240);
  --mdx-base-color-vivid-cerulean-700: rgb(14, 149, 216);
  --mdx-base-color-vivid-cerulean-800: rgb(11, 116, 168);
  --mdx-base-color-vivid-cerulean-900: rgb(8, 83, 120);
  --mdx-base-color-vivid-cerulean-opacity-600-25: rgba(15, 166, 240, 0.25);
  --mdx-base-color-vivid-cerulean-opacity-600-50: rgba(15, 166, 240, 0.5);
  --mdx-base-color-vivid-cerulean-opacity-600-75: rgba(15, 166, 240, 0.75);
  --mdx-base-color-ferrari-red-100: rgb(255, 238, 235);
  --mdx-base-color-ferrari-red-200: rgb(254, 225, 220);
  --mdx-base-color-ferrari-red-300: rgb(254, 204, 195);
  --mdx-base-color-ferrari-red-400: rgb(252, 150, 131);
  --mdx-base-color-ferrari-red-500: rgb(251, 108, 81);
  --mdx-base-color-ferrari-red-600: rgb(249, 45, 6);
  --mdx-base-color-ferrari-red-700: rgb(224, 40, 5);
  --mdx-base-color-ferrari-red-800: rgb(174, 31, 4);
  --mdx-base-color-ferrari-red-900: rgb(125, 23, 3);
  --mdx-base-color-ferrari-red-opacity-600-25: rgba(249, 45, 6, 0.25);
  --mdx-base-color-ferrari-red-opacity-600-50: rgba(249, 45, 6, 0.5);
  --mdx-base-color-ferrari-red-opacity-600-75: rgba(249, 45, 6, 0.75);
  --mdx-base-color-apple-green-100: rgb(242, 249, 240);
  --mdx-base-color-apple-green-200: rgb(232, 245, 229);
  --mdx-base-color-apple-green-300: rgb(216, 238, 211);
  --mdx-base-color-apple-green-400: rgb(173, 220, 162);
  --mdx-base-color-apple-green-500: rgb(140, 206, 126);
  --mdx-base-color-apple-green-600: rgb(91, 185, 70);
  --mdx-base-color-apple-green-700: rgb(82, 166, 63);
  --mdx-base-color-apple-green-800: rgb(64, 129, 49);
  --mdx-base-color-apple-green-900: rgb(46, 92, 35);
  --mdx-base-color-apple-green-opacity-600-25: rgba(91, 185, 70, 0.25);
  --mdx-base-color-apple-green-opacity-600-50: rgba(91, 185, 70, 0.5);
  --mdx-base-color-apple-green-opacity-600-75: rgba(91, 185, 70, 0.75);
  --mdx-base-color-micasa-orange-100: rgb(255, 249, 239);
  --mdx-base-color-micasa-orange-400: rgb(252, 178, 59);
  --mdx-base-color-micasa-orange-500: rgb(251, 158, 11);
  --mdx-base-color-micasa-green-100: rgb(243, 249, 248);
  --mdx-base-color-micasa-green-800: rgb(22, 127, 119);
  --mdx-base-color-micasa-green-900: rgb(14, 84, 78);
  --mdx-base-color-melectronics-blue-100: rgb(243, 245, 249);
  --mdx-base-color-melectronics-blue-800: rgb(22, 61, 130);
  --mdx-base-color-melectronics-blue-900: rgb(16, 40, 86);
  --mdx-base-color-sportx-red-200: rgb(236, 230, 232);
  --mdx-base-color-sportx-red-700: rgb(205, 8, 12);
  --mdx-base-color-sportx-red-800: rgb(100, 0, 21);
  --mdx-base-color-sportx-red-900: rgb(64, 0, 26);
  --mdx-base-color-doitgarden-green-100: rgb(242, 247, 245);
  --mdx-base-color-doitgarden-green-800: rgb(0, 102, 51);
  --mdx-base-color-doitgarden-green-900: rgb(0, 50, 25);
  --mdx-base-color-cumulus-blue-200: rgb(220, 236, 255);
  --mdx-base-color-cumulus-blue-300: rgb(180, 212, 250);
  --mdx-base-color-cumulus-blue-800: rgb(0, 61, 140);
  --mdx-base-color-engagement-red-700: rgb(196, 57, 10);
  --mdx-base-color-engagement-red-800: rgb(155, 39, 0);
  --mdx-base-color-impuls-green-600: rgb(0, 153, 166);
  --mdx-base-color-impuls-green-700: rgb(0, 131, 143);
}