:root {
  --mdx-base-font-font-size-150: 0.75rem;
  --mdx-base-font-font-size-175: 0.875rem;
  --mdx-base-font-font-size-200: 1rem;
  --mdx-base-font-font-size-225: 1.125rem;
  --mdx-base-font-font-size-250: 1.25rem;
  --mdx-base-font-font-size-300: 1.5rem;
  --mdx-base-font-font-size-350: 1.75rem;
  --mdx-base-font-font-size-400: 2rem;
  --mdx-base-font-font-size-450: 2.25rem;
  --mdx-base-font-font-size-500: 2.5rem;
  --mdx-base-font-font-size-525: 2.625rem;
  --mdx-base-font-font-size-550: 2.75rem;
  --mdx-base-font-font-size-600: 3rem;
  --mdx-base-font-font-size-650: 3.25rem;
  --mdx-base-font-font-size-700: 3.5rem;
  --mdx-base-font-font-size-800: 4rem;
  --mdx-base-font-font-size-900: 4.5rem;
  --mdx-base-font-font-size-1000: 5rem;
  --mdx-base-font-font-size-1100: 5.5rem;
  --mdx-base-font-font-size-1150: 5.75rem;
  --mdx-base-font-font-size-1200: 6rem;
  --mdx-base-font-line-height-150: 0.75rem;
  --mdx-base-font-line-height-200: 1rem;
  --mdx-base-font-line-height-225: 1.125rem;
  --mdx-base-font-line-height-250: 1.25rem;
  --mdx-base-font-line-height-300: 1.5rem;
  --mdx-base-font-line-height-350: 1.75rem;
  --mdx-base-font-line-height-375: 1.875rem;
  --mdx-base-font-line-height-400: 2rem;
  --mdx-base-font-line-height-450: 2.25rem;
  --mdx-base-font-line-height-500: 2.5rem;
  --mdx-base-font-line-height-550: 2.75rem;
  --mdx-base-font-line-height-600: 3rem;
  --mdx-base-font-line-height-700: 3.5rem;
  --mdx-base-font-line-height-800: 4rem;
  --mdx-base-font-line-height-850: 4.25rem;
  --mdx-base-font-line-height-900: 4.5rem;
  --mdx-base-font-line-height-1000: 5rem;
  --mdx-base-font-line-height-1100: 5.5rem;
  --mdx-base-font-line-height-1150: 5.75rem;
  --mdx-base-font-line-height-1200: 6rem;
  --mdx-base-font-line-height-1300: 6.5rem;
  --mdx-base-font-line-height-auto: auto;
  --mdx-base-font-family-display: 'Helvetica Now Display';
  --mdx-base-font-family-text: 'Helvetica Now Text';
  --mdx-base-font-family-micro: 'Helvetica Now Micro';
  --mdx-base-font-weight-light: 300;
  --mdx-base-font-weight-regular: 400;
  --mdx-base-font-weight-medium: 500;
  --mdx-base-font-weight-bold: 700;
  --mdx-base-font-weight-extra-bold: 800;
  --mdx-base-font-letter-spacing-normal: 0;
  --mdx-base-font-letter-spacing-tight: -0.0125rem;
  --mdx-base-font-letter-spacing-wide: 0.125rem;
  --mdx-base-font-text-decoration-none: none;
  --mdx-base-font-text-decoration-underline: underline;
  --mdx-base-font-text-case-uppercase: uppercase;
  --mdx-base-font-text-case-none: none;
}