<a-emotion-pictures namespace="emotion-pictures-with-title-">
    <div>
        <div>
            <h2 class="bg-color font-size-big font-family-secondary">Migros Betriebs­restaurants - mit Leidenschaft dabei</h2>
        </div>
        <a-picture picture-load defaultSource="../../../../img/emotion-pictures/emotion1.jpeg" alt="randomized image"></a-picture>
    </div>
</a-emotion-pictures>
<ul class="bull">
    <li><a href=#Thourgh>Neue Gastgeber im Restaurant «park’s»</a></li>
    <li><a href=#testAnchor>Migros Ostschweiz bleibt Gastronomie-Partnerin der HSG</a></li>
    <li><a href=#Thourgh>Migros Ostschweiz kocht bald für HUBER+SUHNER</a></li>
    <li><a href=#testAnchor>Migros Zürich verpflegt Lufthansa Aviation Training</a></li>
</ul>
<ul class="line">
    <li><a href=#Thourgh>Neue Gastgeber im Restaurant «park’s»</a></li>
    <li><a href=#testAnchor>Migros Ostschweiz bleibt Gastronomie-Partnerin der HSG</a></li>
    <li><a href=#Thourgh>Migros Ostschweiz kocht bald für HUBER+SUHNER</a></li>
    <li><a href=#testAnchor>Migros Zürich verpflegt Lufthansa Aviation Training</a></li>
</ul>
<div class="spacer"></div>
<o-wrapper>
    <div>
        <o-wrapper no-calc-column-width>
            <a class="center" href=#>
                <a-picture namespace="picture-store-logo-" defaultSource="../src/img/detail-component-content/logo-migros.png"
                alt="Migros"></a-picture>
                <div>Migros</div>
            </a>
            <a class="center" href=#>
                <a-picture namespace="picture-store-logo-"
                defaultSource="../src/img/detail-component-content/logo-doitgarden.png" alt="Migros">
                </a-picture> <div>Migros</div>
            </a>
            <a class="center" href=#>
                <a-picture namespace="picture-store-logo-" defaultSource="../src/img/detail-component-content/logo-sxx.png"
                alt="Migros"></a-picture><div>Migros</div>
            </a>
            <a class="center" href=#>
                <a-picture namespace="picture-store-logo-" defaultSource="../src/img/detail-component-content/logo-sxx.png"
                alt="Migros">
                </a-picture> <div>Migros</div>
            </a>
            <a class="center" href=#>
                <a-picture namespace="picture-store-logo-"
                defaultSource="../src/img/detail-component-content/logo-schefer.png" alt="Migros">
                </a-picture><div>Migros</div>
            </a>
        </o-wrapper>
        <div class=spacer></div>
        <a-button namespace="button-secondary-" href="#testAnchor" target="_self" data-href="/" role="link">
        Alle teilnehmenden Netzwerkpartner
        </a-button>
    </div>
    <div>
        <h1 class="title-border">Zürisee Center Wädenswil</h1>
        <h2 class="title-border">Zürisee Center Wädenswil</h2>
        <h3 class="title-border">Zürisee Center Wädenswil</h3>
        <h4 class="title-border">Zürisee Center Wädenswil</h4>
        <h5 class="title-border">Zürisee Center Wädenswil</h5>
        <h6 class="title-border">Zürisee Center Wädenswil</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe consequatur, veniam quo quisquam asperiores quam accusantium dolorum iusto. Alias nostrum omnis cum ex placeat illum iure laborum quae dolore accusantium?</p>
    </div>
</o-wrapper>
<m-teaser namespace=teaser-overlay- href="https://www.migrosbank.ch">
    <figure>
      <a-picture namespace="picture-teaser-" picture-load defaultSource="http://admin.betriebsrestaurants-migros.ch/media/1x3femwo/jcr_content.jpg?anchor=center&mode=crop&width=2160&height=1250&format=jpg&quality=80&rnd=132925861274730000" alt="randomized image"></a-picture>
      <figcaption>
        <h2 class=bg-color>Unsere Werte</h2>
        <h2 class=bg-color><a-arrow move direction=right></a-arrow></h2>
      </figcaption>
    </figure>
  </m-teaser>
<div class="right">
    <a-picture namespace="picture-store-logo-" defaultSource="../src/img/detail-component-content/logo-migros.png"
    alt="Migros"></a-picture>
</div>

<div class="center">
    <a-picture namespace="picture-store-logo-"
    defaultSource="../src/img/detail-component-content/logo-doitgarden.png" alt="Migros">
    </a-picture> 
</div>
<div class="left">
    <a-picture namespace="picture-store-logo-" defaultSource="../src/img/detail-component-content/logo-sxx.png"
    alt="Migros"></a-picture>
</div>
<a-picture namespace="picture-store-logo-" defaultSource="../src/img/detail-component-content/logo-sxx.png"
    alt="Migros"></a-picture>
<div class="center">
    <a-picture namespace="picture-store-logo-" defaultSource="../src/img/detail-component-content/logo-sxx.png"
    alt="Migros">
    </a-picture>
</div>
<div class="right">
    <a-picture namespace="picture-store-logo-"
    defaultSource="../src/img/detail-component-content/logo-schefer.png" alt="Migros">
</div>
    </a-picture>
<m-details namespace="details-default-">
    <details>
        <summary>
        <h4>Mehrweg: Der bessere Weg.</h4>
        </summary>
        <div>
        <h2 class="title-border font-family-secondary">Mehrwegschale</h2>
        <p>Unsere Erde ist kein Mehrweg-Planet. Deshalb bieten wir in unserem Personalrestaurant Mehrwegschalen als
            Alternative an (Depot Fr. 10.–).</p>
        <div class=left>
            <a-picture namespace="picture-store-logo-"
                defaultSource="../src/img/detail-component-content/logo-doitgarden.png" alt="Migros">
            </a-picture>
        </div>
        <div class=left>
            <a-button namespace="button-secondary-" href="/" target="_self" data-href="/" role="link">
                Alle teilnehmenden Netzwerkpartner
            </a-button>
        </div>
        <o-wrapper no-calc-column-width>
            <a href=# class=center>
            <a-picture namespace="picture-store-logo-" defaultSource="../src/img/detail-component-content/logo-migros.png"
                alt="Migros"></a-picture>
            <div>Migros</div>
            </a>
            <a href=# class=center>
            <a-picture namespace="picture-store-logo-"
                defaultSource="../src/img/detail-component-content/logo-doitgarden.png" alt="Migros">
            </a-picture> <div>Migros</div>
            </a>
            <a href=# class=center>
            <a-picture namespace="picture-store-logo-" defaultSource="../src/img/detail-component-content/logo-sxx.png"
                alt="Migros"></a-picture><div>Migros</div>
            </a>
            <a href=# class=center>
            <a-picture namespace="picture-store-logo-" defaultSource="../src/img/detail-component-content/logo-sxx.png"
                alt="Migros">
            </a-picture> <div>Migros</div>
            </a>
            <a href=# class=center>
            <a-picture namespace="picture-store-logo-"
                defaultSource="../src/img/detail-component-content/logo-schefer.png" alt="Migros">
            </a-picture><div>Migros</div>
            </a>
        </o-wrapper>
        <div class=spacer></div>
        <a-button namespace="button-secondary-" href="/" target="_self" data-href="/" role="link">
            Alle teilnehmenden Netzwerkpartner
        </a-button>
        <div class=spacer></div>
        <h2 class="title-border font-family-secondary">Mehrwegbecher für Heissgetränke</h2>
        <p>Für mehr Stil und weniger Abfall: Für Heissgetränke bieten wir in ausgewählten Betriebsrestaurants die
            nachhaltigen Mehrwegbecher aus Porzellan (Kosten: Fr. 9.90, Vergünstigung Fr. 0.50 pro Heissgetränk).</p>
        </div>
    </details>
</m-details>
<m-details namespace="details-default-">
    <details>
        <summary>
        <h4>Mehrweg: Der bessere Weg.</h4>
        </summary>
        <div>
        <h2 class="title-border font-family-secondary">Mehrwegschale</h2>
        <p>Unsere Erde ist kein Mehrweg-Planet. Deshalb bieten wir in unserem Personalrestaurant Mehrwegschalen als
            Alternative an (Depot Fr. 10.–).</p>
        <o-wrapper no-calc-column-width>
            <a href=# class=center>
            <a-picture namespace="picture-store-logo-" defaultSource="../src/img/detail-component-content/logo-migros.png"
                alt="Migros"></a-picture>
            <div>Migros</div>
            </a>
            <a href=# class=center>
            <a-picture namespace="picture-store-logo-"
                defaultSource="../src/img/detail-component-content/logo-doitgarden.png" alt="Migros">
            </a-picture> <div>Migros</div>
            </a>
            <a href=# class=center>
            <a-picture namespace="picture-store-logo-" defaultSource="../src/img/detail-component-content/logo-sxx.png"
                alt="Migros"></a-picture><div>Migros</div>
            </a>
            <a href=# class=center>
            <a-picture namespace="picture-store-logo-" defaultSource="../src/img/detail-component-content/logo-sxx.png"
                alt="Migros">
            </a-picture> <div>Migros</div>
            </a>
            <a href=# class=center>
            <a-picture namespace="picture-store-logo-"
                defaultSource="../src/img/detail-component-content/logo-schefer.png" alt="Migros">
            </a-picture><div>Migros</div>
            </a>
        </o-wrapper>
        <div class=spacer></div>
        <a-button namespace="button-secondary-" href="/" target="_self" data-href="/" role="link">
            Alle teilnehmenden Netzwerkpartner
        </a-button>
        <div class=spacer></div>
        <h2 class="title-border font-family-secondary">Mehrwegbecher für Heissgetränke</h2>
        <p>Für mehr Stil und weniger Abfall: Für Heissgetränke bieten wir in ausgewählten Betriebsrestaurants die
            nachhaltigen Mehrwegbecher aus Porzellan (Kosten: Fr. 9.90, Vergünstigung Fr. 0.50 pro Heissgetränk).</p>
        </div>
    </details>
</m-details>
<o-wrapper no-calc-column-width>
    <a class="center" href=#>
      <a-picture namespace="picture-store-logo-" defaultSource="../src/img/detail-component-content/logo-migros.png"
        alt="Migros"></a-picture>
      <div>Migros</div>
    </a>
    <a class="center" href=#>
      <a-picture namespace="picture-store-logo-"
        defaultSource="../src/img/detail-component-content/logo-doitgarden.png" alt="Migros">
      </a-picture> <div>Migros</div>
    </a>
    <a class="center" href=#>
      <a-picture namespace="picture-store-logo-" defaultSource="../src/img/detail-component-content/logo-sxx.png"
        alt="Migros"></a-picture><div>Migros</div>
    </a>
    <a class="center" href=#>
      <a-picture namespace="picture-store-logo-" defaultSource="../src/img/detail-component-content/logo-sxx.png"
        alt="Migros">
      </a-picture> <div>Migros</div>
    </a>
    <a class="center" href=#>
      <a-picture namespace="picture-store-logo-"
        defaultSource="../src/img/detail-component-content/logo-schefer.png" alt="Migros">
      </a-picture><div>Migros</div>
    </a>
  </o-wrapper>
  <div class=spacer></div>
  <a-button id=Thourgh namespace="button-secondary-" href="/" target="_self" data-href="/" role="link">
    Alle teilnehmenden Netzwerkpartner
  </a-button>
  <div class=spacer></div>
<o-body-style background-color=var(--color-secondary) color=var(--m-white)>
    <o-wrapper id=testAnchor href="/" >
        <a-picture  namespace="picture-overflow-scale-up-" hover-on-parent-shadow-root-host defaultSource="../../../../img/jcr content.png" alt="Jcr Content" ></a-picture>
        <div width="67%">
            <h2 class="line-height-one-em">Unsere Brands für den kleinen Gluscht, den grossen Hunger und alles zwischendrin – immer in Migros-Qualität</h2>
        </div>
    </o-wrapper>
</o-body-style>
<div class="spacer"></div>
<o-body-style background-color=#003a56 color=var(--m-white)>
    <o-wrapper href="/">
        <a-picture  namespace="picture-scale-up-" hover-on-parent-shadow-root-host defaultSource="../../../../img/jcr_content.webp" alt="Jcr Content" ></a-picture>
        <div width="67%">
            <p class="bold">Nachhaltigkeit in der Gemeinschaftsgastronomie</p>
            <h2 class="line-height-one-em">Weil es nur eine Erde gibt: Unser Engagement für eine nachhaltige Zukunft.</h2>
            <a-arrow move="" hover-on-parent-shadow-root-host="" direction="right"></a-arrow>
        </div>
    </o-wrapper>
</o-body-style>
<div class="spacer"></div>
<o-wrapper namespace=wrapper-teaser-  >
    <o-body-style background-color=#003a56 color=var(--m-white)>
        <o-wrapper href="/">
            <a-picture  namespace="picture-scale-up-" hover-on-parent-shadow-root-host defaultSource="../../../../img/jcr_content.webp" alt="Jcr Content" ></a-picture>
            <div width="67%">
                <p class="bold">Nachhaltigkeit in der Gemeinschaftsgastronomie</p>
                <h2 class="line-height-one-em">Weil es nur eine Erde gibt: Unser Engagement für eine nachhaltige Zukunft.</h2>
                <a-arrow move="" hover-on-parent-shadow-root-host="" direction="right"></a-arrow>
            </div>
        </o-wrapper>
    </o-body-style>
</o-wrapper>
<div class="spacer"></div>
<div>
    <o-body-style background-color=#003a56 color=var(--m-white)>
        <o-wrapper href="/">
            <a-picture aspect-ratio="0.5"  namespace="picture-scale-up-" hover-on-parent-shadow-root-host defaultSource="../../../../img/jcr_content.webp" alt="Jcr Content" ></a-picture>
            <div width="67%">
                <p class="bold">Nachhaltigkeit in der Gemeinschaftsgastronomie</p>
                <h2 class="line-height-one-em">Weil es nur eine Erde gibt: Unser Engagement für eine nachhaltige Zukunft.</h2>
                <a-arrow move="" hover-on-parent-shadow-root-host="" direction="right"></a-arrow>
            </div>
        </o-wrapper>
    </o-body-style>
</div>
<div class="spacer-two"></div>
<div>
    <h6 class="title-border">Die Catering Services der Migros</h6>
    <p>Wir sind Ihre Experten für die schönsten Momente im Arbeits- und Lernalltag: die Pausen.</p>
    <p>Vom ausgewogenen Lunch, über den Snack bis zum Apéro setzen wir alles daran, Sie mit gesunden und feinen Kreationen und Produkten zu verpflegen. Ob Automatenbewirtschaftung, Mahlzeitenlieferung oder umfassende Betriebsführung; ob Unternehmen, Schule, Hochschule oder Universität – unsere Fachleute freuen sich, mit Ihnen eine Lösung zu entwickeln, massgeschneidert auf Ihre Bedürfnisse.</p>
    <a href="bahh">Test Link</a>
    <a-button>Hello</a-button>
    <a-button disabled>Hello</a-button>
    <a-button namespace="button-primary-">Hello</a-button>
    <a-button namespace="button-primary-" disabled>Hello</a-button>
    <a-button namespace="button-secondary-">Hello</a-button>
    <a-button namespace="button-secondary-" disabled>Hello</a-button>
    <hr />
</div>
<div class="spacer-two"></div>
<div>
    <h1 class="bg-color font-size-big">Zürisee Center Wädenswil</h1>
    <h1 class="bg-color">Zürisee Center Wädenswil</h1>
    <h2 class="bg-color-hover">Zürisee Center Wädenswil</h2>
    <a href=baahh><h2 class="bg-color a-arrow"><a-arrow move hover-on-parent-element direction=right></a-arrow>Zürisee Center Wädenswil Zürisee Center Wädenswil</h2></a>
    <a-arrow move direction=right></a-arrow> No way!
</div>
<h1 class="bg-color font-size-big">Zürisee Center Wädenswil</h1>
<h1 class="bg-color">Zürisee Center Wädenswil</h1>
<h2 class="bg-color-hover">Zürisee Center Wädenswil</h2>
<h1 class="title-border">Zürisee Center Wädenswil</h1>
<h2 class="title-border">Zürisee Center Wädenswil</h2>
<h3 class="title-border">Zürisee Center Wädenswil</h3>
<h4 class="title-border">Zürisee Center Wädenswil</h4>
<h5 class="title-border">Zürisee Center Wädenswil</h5>
<h6 class="title-border">Zürisee Center Wädenswil</h6>
<a href="bahh">Test Link</a>
<a-button>Hello</a-button>
<a-button disabled>Hello</a-button>
<a-button namespace="button-primary-">Hello</a-button>
<a-button namespace="button-primary-" disabled>Hello</a-button>
<a-button namespace="button-secondary-">Hello</a-button>
<a-button namespace="button-secondary-" disabled>Hello</a-button>
<o-wrapper namespace="wrapper-no-calc-column-width-" flex-nowrap-mobile no-calc-column-width>
    <a-button>Hello</a-button>
    <a-button disabled>Hello</a-button>
    <a-button namespace="button-primary-">Hello</a-button>
    <a-button namespace="button-primary-" disabled>Hello</a-button>
    <a-button namespace="button-secondary-">Hello</a-button>
    <a-button namespace="button-secondary-" disabled>Hello</a-button>
</o-wrapper>
</o-body-style>