<a-emotion-pictures namespace="emotion-pictures-with-logo-" height-mobile="15em">
    <a href="#">
        <div>
            <h2 class="bg-color font-size-big font-family-secondary">
                Titel Mood Image
            </h2>
            <h2 class="bg-color font-family-secondary subline">Dein Feedback ist uns wichtig! Ob Komplimente, Fragen,
                Kritik oder Wünsche - wir sind für dich da.</h2>
            <div class="spacer-one">
            </div>
            <a-button hover-on-parent-shadow-root-host namespace="button-primary-" href="/delivery/" target="_self"
                tabindex="0" role="link" data-href="/delivery/">
                Order now
            </a-button>
        </div>
        <a-picture picture-load defaultSource="../../../../img/emotion-pictures/emotion1.jpeg" alt="randomized image">
        </a-picture>
    </a>
</a-emotion-pictures>
<div class="spacer"></div>
<o-wrapper namespace="wrapper-teaser-">
    <m-teaser namespace="teaser-tile-" href="/news/#parks" target="">
        <figure>
            <a-picture namespace="picture-teaser-" hover-on-parent-shadow-root-host
                defaultsource="https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=jpg&quality=80&rnd=132938365587930000"
                sources="[{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'small','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'medium','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'large','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'extra-large','type':'image/webp'}]"
                alt="News KBZ 400X270px" picture-load>
            </a-picture>
            <figcaption>
                <h5>Evénements & Formations</h5>
                <p>Lorem ipsum dolor sit amet, cons- ectetur adipiscing elit sed do eius.</p>
                <a-link namespace="underline-">
                    <a> Mehr erfahren </a>
                </a-link>
            </figcaption>
        </figure>
    </m-teaser>
    <m-teaser namespace="teaser-tile-" href="/news/#parks" target="">
        <figure>
            <a-picture namespace="picture-teaser-" hover-on-parent-shadow-root-host
                defaultsource="https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=jpg&quality=80&rnd=132938365587930000"
                sources="[{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'small','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'medium','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'large','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'extra-large','type':'image/webp'}]"
                alt="News KBZ 400X270px" picture-load>
            </a-picture>
            <figcaption>
                <h5>Evénements & Formations</h5>
                <p>Lorem ipsum dolor sit amet, cons- ectetur adipiscing elit sed do eius.</p>
                <a-link namespace="underline-">
                    <a> Mehr erfahren </a>
                </a-link>
            </figcaption>
        </figure>
    </m-teaser>
    <m-teaser namespace="teaser-tile-" href="/news/#parks" target="">
        <figure>
            <a-picture namespace="picture-teaser-" hover-on-parent-shadow-root-host
                defaultsource="https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=jpg&quality=80&rnd=132938365587930000"
                sources="[{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'small','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'medium','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'large','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'extra-large','type':'image/webp'}]"
                alt="News KBZ 400X270px" picture-load>
            </a-picture>
            <figcaption>
                <h5>Evénements & Formations</h5>
                <p>Lorem ipsum dolor sit amet, cons- ectetur adipiscing elit sed do eius.</p>
                <a-link namespace="underline-">
                    <a> Mehr erfahren </a>
                </a-link>
            </figcaption>
        </figure>
    </m-teaser>
    <m-teaser namespace="teaser-tile-" href="/news/#parks" target="">
        <figure>
            <a-picture namespace="picture-teaser-" hover-on-parent-shadow-root-host
                defaultsource="https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=jpg&quality=80&rnd=132938365587930000"
                sources="[{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'small','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'medium','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'large','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'extra-large','type':'image/webp'}]"
                alt="News KBZ 400X270px" picture-load>
            </a-picture>
            <figcaption>
                <h5>Evénements & Formations</h5>
                <p>Lorem ipsum dolor sit amet, cons- ectetur adipiscing elit sed do eius.</p>
                <a-link namespace="underline-">
                    <a> Mehr erfahren </a>
                </a-link>
            </figcaption>
        </figure>
    </m-teaser>
    <m-teaser namespace="teaser-tile-" href="/news/#parks" target="">
        <figure>
            <a-picture namespace="picture-teaser-" hover-on-parent-shadow-root-host
                defaultsource="https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=jpg&quality=80&rnd=132938365587930000"
                sources="[{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'small','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'medium','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'large','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'extra-large','type':'image/webp'}]"
                alt="News KBZ 400X270px" picture-load>
            </a-picture>
            <figcaption>
                <h5>Evénements & Formations</h5>
                <p>Lorem ipsum dolor sit amet, cons- ectetur adipiscing elit sed do eius.</p>
                <a-link namespace="underline-">
                    <a> Mehr erfahren </a>
                </a-link>
            </figcaption>
        </figure>
    </m-teaser>
</o-wrapper>
<div class="spacer"></div>
<h1>H1 Title</h1>
<h2>H2 Title</h2>
<h3>H3 Title</h3>
<h4>H4 Title</h4>
<h5>H5 Title</h5>
<div class="spacer"></div>
<p>Lorem ipsum dolor sit amet, <a href="#">consetetur sadipscing elitr</a>, sed diam nonumy eirmod tempor invidunt ut labore et dolore
magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
amet.</p>
<div class="spacer"></div>

<h2 class="title-border">Vos advantages Migros Pro</h2>
<o-wrapper namespace=wrapper-text->
    <a width=25% href=# class="center"><a-picture namespace="picture-store-logo-"
            defaultSource="../../../../img/migrospro/articles.png" alt="Migros"></a-picture>
        <div class="font-size-tiny-desktop">Les incontournables sélectionnés pour vous parmi +100’000 références</div>
    </a>
    <a width=25% href=# class="center"><a-picture namespace="picture-store-logo-"
            defaultSource="../../../../img/migrospro/money.png" alt="Migros"></a-picture>
        <div class="font-size-tiny-desktop">Les incontournables sélectionnés pour vous parmi +100’000 références</div>
    </a>
    <a width=25% href=# class="center"><a-picture namespace="picture-store-logo-"
            defaultSource="../../../../img/migrospro/sale.png" alt="Migros"></a-picture>
        <div class="font-size-tiny-desktop">Les incontournables sélectionnés pour vous parmi +100’000 références</div>
    </a>
    <a width=25% href=# class="center"><a-picture namespace="picture-store-logo-"
            defaultSource="../../../../img/migrospro/worker.png" alt="Migros"></a-picture>
        <div class="font-size-tiny-desktop">Choix de la livraison: achat en magasin ou livraison sur site.</div>
    </a>
    <a width=25% href=# class="center"><a-picture namespace="picture-store-logo-"
            defaultSource="../../../../img/migrospro/certificate.png" alt="Migros"></a-picture>
        <div class="font-size-tiny-desktop">Les incontournables sélectionnés pour vous parmi +100’000 références</div>
    </a>
    <a width=25% href=# class="center"><a-picture namespace="picture-store-logo-"
            defaultSource="../../../../img/migrospro/card.png" alt="Migros"></a-picture>
        <div class="font-size-tiny-desktop">Les incontournables sélectionnés pour vous parmi +100’000 références</div>
    </a>
</o-wrapper>
<div class="spacer"></div>
<o-wrapper namespace=wrapper-teaser->
    <o-body-style background-color=#61B038 color=var(--m-white)>
        <o-wrapper href="/">
            <a-picture namespace="picture-scale-up-" hover-on-parent-shadow-root-host
                defaultSource="../../../../img/jcr_content.webp" alt="Jcr Content">
            </a-picture>
            <div width="67%">
                <p class="bold">Nachhaltigkeit in der Gemeinschaftsgastronomie</p>
                <h2 class="line-height-one-em">MIGROS s'engage pour la génération de demain en faisant des promesses concrètes sur des sujets majeurs...</h2>
                <a-arrow move="" hover-on-parent-shadow-root-host="" direction="right">
                </a-arrow>
            </div>
        </o-wrapper>
    </o-body-style>
</o-wrapper>