<!-- https://www.alnatura.ch/de/produkte/alviana-jojobar-hands.html -->
<style>
    :host {
        --path-color-hover: var(--color-hover);
        --path-color: var(--color-tertiary);
    }
</style>
<div>
    <a-breadcrumb icon="../src/icons/chevron_right.svg">
        <ul>
            <li><a href="#">Page d’accueil</a></li>
            <li><span></span></li>
            <li><a href="#">Mobilier & Equipements</a></li>
            <li><span></span></li>
            <li><a href="#">Produit XYZ</a></li>
        </ul>
    </a-breadcrumb>
    <div class="spacer"></div>
</div>
<o-wrapper align-items="start">
    <style>
        :host {
            --img-max-height: min(400px, 75vh);
            --padding: 2em;
            --h1-font-size: 16px;
            --h1-margin:0 0 1em 0;
            --h2-font-size: 24px;
            --h2-line-height: normal;
            --h2-margin: 0 0 0.5em 0;
            --p-font-size: 12px;
            --p-margin: 0 0 2em 0;
        }

        :host .product {
            box-shadow: 0px 0px 12px 0px rgba(51, 51, 51, 0.10);
            border-radius: 8px;
            background: #FFF;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-shrink: 0;
        }

        :host p {
            color: #808080;
        }
    </style>
    <a-picture defaultSource="../../../../img/products/bread.png" alt=alviana-jojobar-hands></a-picture>
    <div class="product">
        <div><h2>5.90</h2></div>
        <h1>Happy Bread IP-SUISSE · Dunkles Brot · Geschnitten</h1>
        <p>350 g 6.86/kg</p>

        <a-button namespace="button-primary-">
            Ajouter à mon devis
            <svg class="icon-left" width="24" height="24" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M2.72147 19.3288L1 9H23L21.2785 19.3288C21.1178 20.2932 20.2834 21 19.3057 21H4.69425C3.71658 21 2.8822 20.2932 2.72147 19.3288Z"
                    stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <line x1="3" y1="15" x2="21" y2="15" stroke="#333333" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path d="M5 8.5V4C5 2.89543 5.89543 2 7 2H17C18.1046 2 19 2.89543 19 4V8.5" stroke="#333333"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M8 9L9 21" stroke="#333333" stroke-width="2" />
                <path d="M16 9L15 21" stroke="#333333" stroke-width="2" />
            </svg>
        </a-button>
    </div>
</o-wrapper>
<div class="spacer-two"></div>
<o-body-style background-color="var(--m-gray-100)">
    <div class="spacer-one"></div>
    <h2>Informations sur le produit</h2>
    <p>Toutes les informations sur les produits et les prix sont sans engagement.</p>
</o-body-style>
<div class="spacer-two"></div>
<m-details id="more-info" namespace="details-default-">
    <details>
        <summary>
            <h4>Information produit</h4>
        </summary>
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>Produkttyp</td>
                        <td>Handcreme</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>Bedürfnis / Nutzen</td>
                        <td>Pflege</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>Anwendung</td>
                        <td>Handpflege</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>Vegetarismus</td>
                        <td>vegan</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>Artikelnummer</td>
                        <td>523205500000</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>GTIN</td>
                        <td>4260167187907, 7613312386651</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </details>
</m-details>
<m-details namespace="details-default-">
    <details>
        <summary>
            <h4>Valeurs nutritionnelles</h4>
        </summary>
        <div>
            Example....
        </div>
    </details>
</m-details>
<div class="spacer-two"></div>