<o-grid namespace="grid-2colums2rows-" first-container-horizontal>
   <div>
    <m-tag-filter namespace="tag-filter-horizontal-" answer-event-name="list-news" request-event-name="request-list-news" active-detail-property-name="fetch:tag"
        tag="[
            {
                'name':'Alle News',
                'code':'Alnatura'
            },
            {
                'name':'Aktionen',
                'code':'Aktionen'
            },
            {
                'name':'Aktuelles',
                'code':'Aktuelles'
            },
            {
                'name':'Neueröffnungen & Events',
                'code':'neueroeffnungen-events'
            },
            {
                'name':'Warenrückrufe',
                'code':'Warenrückrufe'
            },
            {
                'name':'Interviews & Kolumnen',
                'code':'interviews-kolumne'
            }
            ]">
    </m-tag-filter>
    <m-pagination answer-event-name="list-news" request-event-name="request-list-news"
        namespace="pagination-default-"></m-pagination>
   </div>
    <contentful-news-list answer-event-name="list-news" request-event-name="request-list-news"
        namespace="news-list-default-"
        news-url="/src/es/components/web-components-toolbox/docs/Template.html?rootFolder=src&css=/src/css/variablesCustom.css&logo=/src/es/components/atoms/logo/default-/default-.html&nav=/src/es/components/molecules/navigation/default-/default-.html&footer=/src/es/components/organisms/footer/default-/default-.html&content=/src/es/components/pages/News.html"
        news-preview-namespace="">
    </contentful-news-list>
</o-grid>