<!-- https://www.alnatura.ch/de/produkte/alviana-jojobar-hands.html -->
<o-wrapper align-items="start">
    <style>
        :host {
            --any-margin-last-child: var(--hr-margin, var(--content-spacing) 0 0);
            --any-margin-last-child-mobile: var(--hr-margin-mobile, var(--hr-margin, var(--content-spacing-mobile) 0 0));
            --path-color-hover: var(--color-hover);
            --path-color: var(--color-tertiary);
        }
    </style>
    <a-picture defaultSource="../../../../img/products/alviana-jojobar-hands.jpg"></a-picture>
    <div>
        <h2 class="font-size-h1 bg-color">5.90</h2>
        <div class="spacer-one"></div>
        <h4 class="margin-zero">Alviana JojoBar Hands</h4>
        <p>25g</p>
        <a href="#more-info">
            <h5 class="margin-zero">Weitere Informationen<a-arrow move hover-on-parent-element direction="right">
                </a-arrow>
            </h5>
        </a>
        <hr>
        <p class="margin-zero">Erhältlich bei</p>
        <o-wrapper namespace="wrapper-no-calc-column-width-left-" flex-nowrap-mobile no-calc-column-width>
            <style>
                :host {
                    --img-width: min(83px, 50vw);
                }
            </style>
            <a href=#>
                <a-picture defaultSource="../../../../img/products/alnatura_de.png" alt="alnatura_de"></a-picture>
            </a>
            <a href=#>
                <a-picture defaultSource="../../../../img/products/migros.svg" alt="Migros"></a-picture>
            </a>
        </o-wrapper>
        <div class="spacer-one"></div>
        <a href="#">
            <h5 class="margin-zero">Verfügbarkeit prüfen<a-arrow move hover-on-parent-element direction="right">
                </a-arrow>
            </h5>
        </a>
        <hr>
    </div>
</o-wrapper>
<div class="spacer-two"></div>
<o-body-style id="more-info" background-color=var(--color-secondary)
    background-image="url(../../../../img/products/Tafelfond_A6_DRUCK.jpg)" color=var(--m-white) h-color=var(--m-white)>
    <div class="spacer-one"></div>
    <h2>Informationen zum Produkt</h2>
    <p>Produktangaben sowie Verfügbarkeit und Preise von Produkten Sämtliche Angaben zu den Produkten (Zutatenliste,
        Nährwertangaben/Food Facts, Allergiehinweise etc. ) und Preisangaben sind unverbindlich.</p>
    <div class="spacer-three"></div>
</o-body-style>
<div class="spacer-one"></div>
<m-details namespace="details-default-">
    <details>
        <summary>
            <h4>Produktinformationen</h4>
        </summary>
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>Produkttyp</td>
                        <td>Handcreme</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>Bedürfnis / Nutzen</td>
                        <td>Pflege</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>Anwendung</td>
                        <td>Handpflege</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>Vegetarismus</td>
                        <td>vegan</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>Artikelnummer</td>
                        <td>523205500000</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>GTIN</td>
                        <td>4260167187907, 7613312386651</td>
                    </tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </details>
</m-details>
<m-details namespace="details-default-">
    <details>
        <summary>
            <h4>Kundenbewertungen</h4>
        </summary>
        <div>
            baaahhhhh
        </div>
    </details>
</m-details>
<m-details namespace="details-default-">
    <details>
        <summary>
            <h4>Fragen zum Produkt</h4>
        </summary>
        <div>
            baaahhhhh
        </div>
    </details>
</m-details>
<a-button namespace=button-primary->Zurück zu allen Produkten</a-button>