<!-- https://www.alnatura.ch/de/produkte/alviana-jojobar-hands.html -->
<style>
    :host {
        --path-color-hover: var(--color-hover);
        --path-color: var(--color-tertiary);
    }
</style>
<a href="#"><h5><a-arrow move hover-on-parent-element direction="left"></a-arrow>Zurück zur Übersicht</h5></a>
<o-wrapper align-items="start">
    <a-picture defaultSource="../../../../img/products/alviana-jojobar-hands.jpg" alt=alviana-jojobar-hands></a-picture>
    <div>
        <h2 class="font-size-h1 bg-price margin-zero">5.90</h2>
        <h3 class="margin-zero">Alviana JojoBar Hands</h3>
        <p>25g</p>
        <a href="#more-info"><h5 class="margin-zero">Weitere Informationen<a-arrow move hover-on-parent-element direction="right"></a-arrow></h5></a>
        <msrc-reviews-summary
            env="local"
            web-api-key="ZDsjzNwaw9AxGQWhzqMCsnjwYzwpQ7dzigdKXeuuiXeR97ao4phWLRwe2WrZRoPe"
            target-identifier="523205500000"
        ></msrc-reviews-summary>
        <hr>
        <p class="margin-zero">Erhältlich bei</p>
        <o-wrapper namespace="wrapper-no-calc-column-width-left-" flex-nowrap-mobile no-calc-column-width>
            <style>
                :host {
                    --img-width: min(83px, 50vw);
                }
            </style>
            <a href=#>
                <a-picture defaultSource="../../../../img/products/alnatura_de.png" alt="alnatura_de"></a-picture>
            </a>
            <a href=#>
                <a-picture defaultSource="../../../../img/products/migros.svg" alt="Migros"></a-picture>
            </a>
        </o-wrapper>
        <div class="spacer-one"></div>
        <a href="#">
            <h5 class="margin-zero">Verfügbarkeit prüfen<a-arrow move hover-on-parent-element direction="right">
                </a-arrow>
            </h5>
        </a>
        <hr>
    </div>
</o-wrapper>
<div class="spacer-two"></div>
<m-details id="more-info" desktop-open namespace="details-default-">
    <details open>
        <summary>
            <h4>Produktinformationen</h4>
        </summary>
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>Produkttyp</td>
                        <td>Handcreme</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>Bedürfnis / Nutzen</td>
                        <td>Pflege</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>Anwendung</td>
                        <td>Handpflege</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>Vegetarismus</td>
                        <td>vegan</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>Artikelnummer</td>
                        <td>523205500000</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>GTIN</td>
                        <td>4260167187907, 7613312386651</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </details>
</m-details>
<m-details id="reviews" namespace="details-default-">
    <details>
        <summary>
            <h4>Kundenbewertungen</h4>
        </summary>
        <div>
            <msrc-ratings-reviews
                env="local"
                web-api-key="ZDsjzNwaw9AxGQWhzqMCsnjwYzwpQ7dzigdKXeuuiXeR97ao4phWLRwe2WrZRoPe"
                target-identifier="523205500000"
            ></msrc-ratings-reviews>
        </div>
    </details>
</m-details>
<m-details namespace="details-default-">
    <details>
        <summary>
            <h4>Fragen zum Produkt</h4>
        </summary>
        <div>
            <msrc-questions-answers
                env="local"
                web-api-key="ZDsjzNwaw9AxGQWhzqMCsnjwYzwpQ7dzigdKXeuuiXeR97ao4phWLRwe2WrZRoPe"
                target-identifier="523205500000"
            ></msrc-questions-answers>
        </div>
    </details>
</m-details>
<div class="spacer-one"></div>
<o-body-style background-image="url(../../../../img/products/Tafelfond_A6_DRUCK.jpg)" color=var(--background-color) h-color=var(--background-color)>
    <div class="spacer-one"></div>
    <h2>Informationen zum Produkt</h2>
    <p>Produktangaben sowie Verfügbarkeit und Preise von Produkten Sämtliche Angaben zu den Produkten (Zutatenliste,
        Nährwertangaben/Food Facts, Allergiehinweise etc. ) und Preisangaben sind unverbindlich.</p>
</o-body-style>