<a-emotion-pictures namespace="emotion-pictures-with-logo-" height-mobile="15em">
    <a href="#">
        <div>
            <h2 class="bg-color font-size-big font-family-secondary">
                Titel Mood Image
            </h2>
            <h2 class="bg-color font-family-secondary subline">Dein Feedback ist uns wichtig! Ob Komplimente, Fragen,
                Kritik oder Wünsche - wir sind für dich da.</h2>
            <div class="spacer-one">
            </div>
            <a-button hover-on-parent-shadow-root-host namespace="button-primary-" href="/delivery/" target="_self"
                tabindex="0" role="link" data-href="/delivery/">
                Order now
            </a-button>
        </div>
        <a-picture picture-load defaultSource="../../../../img/emotion-pictures/emotion1.jpeg" alt="randomized image">
        </a-picture>
    </a>
</a-emotion-pictures>
<div class="spacer"></div>
<o-wrapper>
    <style>
        :host {
            --content-width: 85%;
            --align-items: flex-start;
            --any-1-width: 25%;
        }
    </style>
    <div>
        <m-product-categories namespace="categories-default-"></m-product-categories>
    </div>
    <div>
        <div>
            <h1 class="title-border">Alnatura Sortiment</h1>
            <h2>789 Produkte</h2>
        </div>
        <msrc-product-list namespace="product-list-default-"></msrc-product-list>
    </div>
</o-wrapper>