<a-emotion-pictures namespace="emotion-pictures-with-logo-" height-mobile="15em">
    <a href="#">
        <div>
            <h2 class="bg-color font-size-big font-family-secondary">
                Titel Mood Image
            </h2>
            <h2 class="bg-color font-family-secondary subline">Dein Feedback ist uns wichtig! Ob Komplimente, Fragen,
                Kritik oder Wünsche - wir sind für dich da.</h2>
            <div class="spacer-one">
            </div>
            <a-button hover-on-parent-shadow-root-host namespace="button-primary-" href="/delivery/" target="_self"
                tabindex="0" role="link" data-href="/delivery/">
                Order now
            </a-button>
        </div>
        <a-picture picture-load defaultSource="../../../../img/emotion-pictures/emotion1.jpeg" alt="randomized image">
        </a-picture>
    </a>
</a-emotion-pictures>
<div class="spacer"></div>
<h2 class="title-border">Alnatura Rezepte</h2>
<o-body-style background-color=var(--color-secondary) color=var(--m-white)>
    <div>
        FILTER / SEARCH
    </div>
</o-body-style>

<hr>
        <m-recipe-list answer-event-name="list-recipe" request-event-name="request-list-recipe" namespace="recipe-list-default-"
            recipe="">
        </m-recipe-list>

<hr>

    <!-- <o-wrapper namespace=wrapper-teaser->
        <m-teaser namespace=teaser-tile- href="https://www.migrosbank.ch">
            <figure>
                <a-picture namespace="picture-teaser-" picture-load
                    defaultSource="https://www.alnatura.ch/.imaging/mte/m5-bk-brand/medium16To9/dam/alnatura/Rezepte/2022/Salat_limonrimon-(3).jpg/jcr:content/Salat_limonrimon%20(3).jpg" alt="randomized image"></a-picture>
                <figcaption>
                    <h5>Sabichsalat</h5>
                    <a-link namespace=underline-><a>Mehr erfahren</a></a-link>
                </figcaption>
            </figure>
        </m-teaser>
        <m-teaser namespace=teaser-tile- href="https://www.stadlerrail.com/de/ueber-uns/standorte/stadler-bussnang-ag/">
            <figure>
                <a-picture namespace="picture-teaser-" picture-load defaultSource="https://www.alnatura.ch/.imaging/mte/m5-bk-brand/medium16To9/dam/alnatura/Rezepte/2022/Sojaschnetzelpilzragout_limonrimon-4949.jpg/jcr:content/Sojaschnetzelpilzragout_limonrimon-4949.jpg"
                    alt="randomized image"></a-picture>
                <figcaption>
                    <h5>Sojaschnetzel-Pilzragout</h5>
                    <a-link namespace=underline-><a>Mehr erfahren</a></a-link>
                </figcaption>
            </figure>
        </m-teaser>
        <m-teaser namespace=teaser-tile- href="http://www.jowa.ch">
            <figure>
                <a-picture namespace="picture-teaser-" picture-load defaultSource="https://www.alnatura.ch/.imaging/mte/m5-bk-brand/medium16To9/dam/alnatura/Rezepte/2022/2022_ALNATURA_BILD_Wuerziger_Rote-Linsen-Dip.jpg/jcr:content/2022_ALNATURA_BILD_Wuerziger_Rote-Linsen-Dip.jpg"
                    alt="randomized image"></a-picture>
                <figcaption>
                    <h5>Würziger Rote-Linsen-Dip</h5>
                    <a-link namespace=underline-><a>Mehr erfahren</a></a-link>
                </figcaption>
            </figure>
        </m-teaser>
    </o-wrapper> -->