<!-- https://www.alnatura.ch/de/kochen/rezepte/Sojaschnetzel-Pilzragout.html -->
<a-emotion-pictures namespace="emotion-pictures-default-">
    <style>
        :host {
            --emotion-pictures-default-img-max-height: 25vh;
        }
    </style>
    <div><a-picture picture-load defaultSource="../../../../img/Sojaschnetzelpilzragout_limonrimon-4949.jpg" alt="Sojaschnetzelpilzragout_limonrimon"></a-picture></div>
</a-emotion-pictures>
<h1 class="center">Sojaschnetzel-Pilzragout</h1>
<p class="center h-color">an einer Miso-Kokosmilch-Sauce</p>
<div class="spacer-two"></div>
<o-body-style>
    <style>
        :host {
            --path-color-hover: var(--color-hover);
            --path-color: var(--color-tertiary);
            --h5-margin: 0;
            --a-margin: 0 auto;
        }
    </style>
    <a href="#"><h5><a-arrow move hover-on-parent-element direction="left"></a-arrow>Zurück zur Übersicht</h5></a>
</o-body-style>
<hr class="secondary">
<div class="spacer"></div>
<o-wrapper align-items="start">
    <div>
        <h2>Zubereitung</h2>
        <div>
            <ol class="big">
                <li>In einer Bratpfanne oder Wok, Öl heiss machen</li>
                <li>Die Pilze in die Pfanne geben und 2 Minuten anbraten. Mit Salz und Pfeffer würzen.</li>
                <li>Thymian zu den Pilzen geben. Sojasauce darüber geben und vermischen. 1 Minute ziehen lassen. Mit Kokosmilch ablöschen.</li>
                <li>Misopaste in die Kokosmilch einrühren und Sojaschnetzel hinzugeben.</li>
                <li>1 dl Bouillon hinzugeben und alles noch etwas köcheln lassen</li>
                <li>Zum Schluss mit etwas Petersilie garnieren</li>
                <li>Reis gemäss Anleitung zubereiten, danach mit geriebener Zitrone garnieren und servieren.</li>
            </ol>
        </div>
    </div>
    <div class="first-mobile">
        <h2>Zutaten für 4 Personen</h2>
        <o-body-style color=var(--background-color) h-color=var(--background-color) background-color-prop="var(--color-secondary)">
            <style>
                :host {
                    --table-border-collapse: separate;
                    --table-border-spacing: 1em;
                    --table-margin: 0;
                }
            </style>
            <table>
                <tbody>
                    <tr>
                        <td>2 EL</td>
                        <td>Sesamöl (oder Kokosöl)</td>
                    </tr>
                    <tr>
                        <td>300g</td>
                        <td>Pilze nach Wahl, in Scheiben geschnitten</td>
                    </tr>
                    <tr>
                        <td>1 Pckg.</td>
                        <td>Sojaschnetzel</td>
                    </tr>
                    <tr>
                        <td>2–3 EL</td>
                        <td>Sojasauce, Tamari</td>
                    </tr>
                    <tr>
                        <td>2,5 dl</td>
                        <td>Kokosmilch</td>
                    </tr>
                    <tr>
                        <td>2 EL</td>
                        <td>Misopaste</td>
                    </tr>
                    <tr>
                        <td>1 dl</td>
                        <td>Gemüsebouillon</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>Salz &amp; Pfeffer</td>
                    </tr>
                    <tr>
                        <td>Wenig</td>
                        <td>Thymian, frisch oder getroickenet</td>
                    </tr>
                    <tr>
                        <td>ein Paar</td>
                        <td>Blätter frische Petersilie, glatt</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>Reis</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>Zitronenabrieb</td>
                    </tr>
                </tbody>
            </table>
        </o-body-style>
        <div class="spacer-one"></div>
        <h3>Zubereitungszeit: 40 Minuten</h3>
    </div>
</o-wrapper>
<div class="spacer"></div>
<h3>Quelle: Naomi | Limon Rimon</h3>
<h3>Foto: Naomi | Limon Rimon</h3>
<div class="spacer-two"></div>
<hr class="secondary">
<div class="spacer"></div>
<h2 class="center font-size-h1">Passende Produkte</h2>
<msrc-product-list answer-event-name="list-articles"
    web-api-key="ZDsjzNwaw9AxGQWhzqMCsnjwYzwpQ7dzigdKXeuuiXeR97ao4phWLRwe2WrZRoPe" category="BeSS_97"
    env="production" language="de" config='
                {
                    "articlesPerPage": 12,
                    "paginationOptions": {
                        "disabled": "true"
                    },
                    "colCount":["2","2","2","4","4"],
                    "fallbackEmptyComponent":"Es wurde kein Produkt gefunden. Bitte versuchen Sie es später noch einmal.",
                    "filterOptions":{
                        "additionalQueryParams":{
                            "limit":12,
                            "view":"browseallretailers"
                        },
                        "fo":{
                            "anchor_target":"_blank",
                            "context": "products",
                            "link_target":"/de/produkte/{productSlug}.html",
                            "target":"produktkatalog"
                        },
                        "region":"gmzh",
                        "search":"sesamöl, schnetzel, kokosmilch, misopaste, gemüsebouillon, olivenöl, sojasauce, reis"
                    },
                    "hideAddToShoppingList":false,
                    "hideRating":false,
                    "order":"desc",
                    "sort":"score",
                    "theme":"mgb"
                }'>
</msrc-product-list>
<a-button href="/baahhh" namespace="button-primary-">Weitere Produkte</a-button>
<div class="spacer"></div>
<h2 class="center font-size-h1">Rezepte die dich interessieren könnten</h2>
<o-wrapper namespace=wrapper-teaser->
    <m-teaser namespace=teaser-overlay- href="/somewhereelse">
        <figure>
            <m-picture-with-picture namespace="picture-with-picture-default-" place-right>             
                <a-picture picture-load
                        alt="Bio Herbst Istock 871137282 Bearbeitet"
                        defaultSource="../../../../img/2022_ALNATURA_BILD_Randen-Salat_mit_geroesteten_Kichererbsen.jpg">
                </a-picture>
                <div>
                    <a-picture picture-load
                            alt="dude1"
                            defaultSource="../../../../img/jcr content1.png">
                    </a-picture>
                    <a-picture picture-load
                            alt="dude2"
                            defaultSource="../../../../img/jcr content2.png">
                    </a-picture>
                </div>
            </m-picture-with-picture>
            <figcaption>
                <h2 class=bg-color>Randen-Salat mit gerösteten Kichererbsen</h2>
                <h2 class=bg-color><a-arrow move direction=right></a-arrow></h2>
            </figcaption>
        </figure>
    </m-teaser>
    <m-teaser namespace=teaser-overlay- href="/somewhere">
        <figure>
            <m-picture-with-picture namespace="picture-with-picture-default-" place-right>             
                <a-picture picture-load
                        alt="Bio Herbst Istock 871137282 Bearbeitet"
                        defaultSource="../../../../img/2022_ALNATURA_BILD_Randen-Salat_mit_geroesteten_Kichererbsen.jpg">
                </a-picture>
                <div>
                    <a-picture picture-load
                            alt="dude1"
                            defaultSource="../../../../img/jcr content1.png">
                    </a-picture>
                    <a-picture picture-load
                            alt="dude2"
                            defaultSource="../../../../img/jcr content2.png">
                    </a-picture>
                </div>
            </m-picture-with-picture>
            <figcaption>
                <h2 class=bg-color>Apfel-Crumble mit Vanille-Schlagcreme</h2>
                <h2 class=bg-color><a-arrow move direction=right></a-arrow></h2>
            </figcaption>
        </figure>
    </m-teaser>
</o-wrapper>