/**
  * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
  * NOTE: Within the component don't use any name spacing eg. component header don't use --header-default-color just use --color the namespace can be added by the Shadow as an html attribute
  * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
  * - if a component holds other components you should share the attribute namespace with its children
  */
/* font tracking */
@import url("https://cdn.fonts.net/t/1.css?apiType=css&projectid=b2e5ea60-e0d9-11ec-b713-06e2001461d0");

@font-face {
  font-family: "FrutigerRegular";
  src: url("https://cdn.migros.ch/ch.migros/static/fonts/Frutiger/Frutiger55Roman.woff2") format("woff2"), url("https://cdn.migros.ch/ch.migros/static/fonts/Frutiger/Frutiger55Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FrutigerBold";
  src: url("https://cdn.migros.ch/ch.migros/static/fonts/Frutiger/Frutiger65Bold.woff2") format("woff2"), url("https://cdn.migros.ch/ch.migros/static/fonts/Frutiger/Frutiger65Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KalamRegular";
  src: url("https://cdn.migros.ch/ch.migros/static/fonts/Kalam/Kalam-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background-color: #fffef4;
  --bg-padding-top: 0.25em;
  --color-active: var(--m-orange-800);
  --color-disabled: #b37187;
  --color-hover: #592037;
  --color-secondary: #8b254c;
  --color-tertiary: #b5ce34;
  --emotion-pictures-with-button-a-color-hover-custom: var(--background-color);
  --emotion-pictures-with-button-bg-background-color-custom: var(--color-secondary);
  --emotion-pictures-with-button-bg-color-custom: var(--background-color);
  --emotion-pictures-with-button-h2-font-family-secondary-custom: var(--font-family-secondary);
  --emotion-pictures-with-logo-a-color-hover-custom: var(--background-color);
  --emotion-pictures-with-logo-bg-background-color-custom: var(--color-secondary);
  --emotion-pictures-with-logo-bg-color-custom: var(--background-color);
  --emotion-pictures-with-logo-h2-font-family-secondary-custom: var(--font-family-secondary);
  --emotion-pictures-with-title-a-color-hover-custom: var(--background-color);
  --emotion-pictures-with-title-a-color:var(--background-color);
  --emotion-pictures-with-title-bg-background-color-custom: var(--color-secondary);
  --emotion-pictures-with-title-bg-color-custom: var(--background-color);
  --emotion-pictures-with-title-h2-font-family-secondary-custom: var(--font-family-secondary);
  --font-family-bold: FrutigerBold, HelveticaNowTextBold, HelveticaNowText, Helvetica, Arial, sans-serif;
  --font-family-secondary: KalamRegular, Avenir35Light, sans-serif;
  --font-family: FrutigerRegular, HelveticaNowText, Helvetica, Arial, sans-serif;
  --footer-default-h4-color: var(--background-color);
  --footer-default-invert-a-color-hover-custom: var(--color-tertiary);
  --footer-default-invert-color-hover-custom: var(--color-tertiary);
  --footer-default-invert-orange-a-color-hover-custom: var(--color-hover);
  --footer-default-invert-orange-background-color-custom: var(--color-tertiary);
  --footer-default-invert-svg-color-custom: var(--background-color);
  --footer-default-invert-svg-color-hover-custom: var(--color-tertiary);
  --h-color: var(--color-secondary);
  --h3-font-family: var(--font-family-secondary);
  --header-default-a-logo-top-custom: calc(60.5px / 2 - 90px / 2);
  --header-default-a-logo-top-mobile-custom: -0.5em;
  --header-default-logo-width-custom: 138px;
  --hr-border-bottom: 2px dotted var(--color-tertiary);
  --hr-border-width: 0 0 2px;
  --hr-opacity:1;
  --navigation-alnatura-a-link-line-height: 1.5em;
  --navigation-alnatura-color-mobile-custom: var(--navigation-alnatura-color-second-level-custom);
  --navigation-alnatura-color-second-level-custom: var(--color);
  --picture-close-btn-background-color:var(--color-secondary);
  --teaser-round-figcaption-color: var(--color-tertiary);
  --teaser-tile-rounded-h6-figcaption-color-custom: var(--color-secondary);
  --title-border-display: none;
}
