<div class="spacer"></div>
<div>
    <h2 class="bg-color font-size-big font-family-tertiary">
        Wir sind Mutobo
    </h2>
    <h3 class="font-family-tertiary">Das Core Team von MUTOBO gebildet aus Entwicklern des Digital Business, des Migros-Genossenschafts-Bundes.</h3>
</div>
<div class="spacer"></div>
<o-wrapper namespace=wrapper-teaser->
    <o-body-style background-color=var(--color-quinary) color=var(--m-white)>
        <o-wrapper href="/">
            <a-picture namespace="picture-scale-up-" hover-on-parent-shadow-root-host
                defaultSource="../../../../img/profil-1.png" alt="Jcr Content">
            </a-picture>
            <div width="67%">
                <p class="font-family-tertiary">Roland Schenk</p>
                <h2 class="line-height-one-em">LEAD DEVELOPER BACKEND</h2>
                <p class="font-family-tertiary">Enthusiastischer .NET Entwickler mit viel Leidenschaft und geistiger Vater der Idee.</p>
            </div>
        </o-wrapper>
    </o-body-style>
</o-wrapper>
<div class="spacer"></div>
<o-wrapper namespace=wrapper-teaser->
    <o-body-style background-color=var(--color-quinary) color=var(--m-white)>
        <o-wrapper href="/">
            <a-picture namespace="picture-scale-up-" hover-on-parent-shadow-root-host
                defaultSource="../../../../img/profil-2.png" alt="Jcr Content">
            </a-picture>
            <div width="67%">
                <p class="font-family-tertiary">スィルヴァン</p>
                <h2 class="line-height-one-em">LEAD DEVELOPER FRONTEND</h2>
                <a href="https://github.com/Weedshaker" class="font-family-tertiary">Innerlich ausgeglichener Frontend Zauberer mit Blick fürs
                    Detail.
                </a>
            </div>
        </o-wrapper>
    </o-body-style>
</o-wrapper>
<div class="spacer"></div>
<o-wrapper namespace=wrapper-teaser->
    <o-body-style background-color=var(--color-quinary) color=var(--m-white)>
        <o-wrapper href="/">
            <a-picture namespace="picture-scale-up-" hover-on-parent-shadow-root-host
                defaultSource="../../../../img/profil-3.png" alt="Jcr Content">
            </a-picture>
            <div width="67%">
                <p class="font-family-tertiary">Andy Felix</p>
                <h2 class="line-height-one-em">BACKEND DEVELOPER</h2>
                <p class="font-family-tertiary">Der Herr der Suche, Meister der Navigationen und C#-Entwickler aus Leidenschaft.</p>
            </div>
        </o-wrapper>
    </o-body-style>
</o-wrapper>
<div class="spacer"></div>
<o-wrapper namespace=wrapper-teaser->
    <o-body-style background-color=var(--color-quinary) color=var(--m-white)>
        <o-wrapper href="/">
            <a-picture namespace="picture-scale-up-" hover-on-parent-shadow-root-host
                defaultSource="../../../../img/profil-4.png" alt="Jcr Content">
            </a-picture>
            <div width="67%">
                <p class="font-family-tertiary">Joel Jose</p>
                <h2 class="line-height-one-em">SOFTWARE ENGINEER</h2>
                <p class="font-family-tertiary">Der Mann für s'Feine zuverlässig wie ein Schweizeruhrwerk.</p>
            </div>
        </o-wrapper>
    </o-body-style>
</o-wrapper>
<div class="spacer"></div>
<o-wrapper namespace=wrapper-teaser->
    <o-body-style background-color=var(--color-quinary) color=var(--m-white)>
        <o-wrapper href="/">
            <a-picture namespace="picture-scale-up-" hover-on-parent-shadow-root-host
                defaultSource="../../../../img/profil-5.png" alt="Jcr Content">
            </a-picture>
            <div width="67%">
                <p class="font-family-tertiary">Laurin Graf</p>
                <h2 class="line-height-one-em">SOFTWARE ENGINEER</h2>
                <p class="font-family-tertiary">Unser Padawan, den ganzen Tag Morgen aber sehr lernhungrig und eine grosse Unterstützung.</p>
            </div>
        </o-wrapper>
    </o-body-style>
</o-wrapper>
<div class="spacer"></div>
<o-wrapper namespace=wrapper-teaser->
    <o-body-style background-color=var(--color-quinary) color=var(--m-white)>
        <o-wrapper href="/">
            <a-picture namespace="picture-scale-up-" hover-on-parent-shadow-root-host
                defaultSource="https://dummyimage.com/150x214/000/fff" alt="Jcr Content">
            </a-picture>
            <div width="67%">
                <p class="font-family-tertiary">Alexander Schmidt</p>
                <h2 class="line-height-one-em">SENIOR FRONTEND SOFTWARE ENGINEER</h2>
                <p class="font-family-tertiary">Beispieltext</p>
            </div>
        </o-wrapper>
    </o-body-style>
</o-wrapper>
<div class="spacer"></div>
<o-wrapper namespace=wrapper-teaser->
    <o-body-style background-color=var(--color-quinary) color=var(--m-white)>
        <o-wrapper href="/">
            <a-picture namespace="picture-scale-up-" hover-on-parent-shadow-root-host
                defaultSource="https://dummyimage.com/150x214/000/fff" alt="Jcr Content">
            </a-picture>
            <div width="67%">
                <p class="font-family-tertiary">Evangelos Dinopoulos</p>
                <h2 class="line-height-one-em">FRONTEND SOFTWARE ENGINEER</h2>
                <p class="font-family-tertiary">Beispieltext</p>
            </div>
        </o-wrapper>
    </o-body-style>
</o-wrapper>
<div class="spacer"></div>
<o-wrapper namespace=wrapper-teaser->
    <o-body-style background-color=var(--color-quinary) color=var(--m-white)>
        <o-wrapper href="/">
            <a-picture namespace="picture-scale-up-" hover-on-parent-shadow-root-host
                defaultSource="https://dummyimage.com/150x214/000/fff" alt="Jcr Content">
            </a-picture>
            <div width="67%">
                <p class="font-family-tertiary">Aldo Racine</p>
                <h2 class="line-height-one-em">SENIOR SOFTWARE ENGINEER</h2>
                <p class="font-family-tertiary">Beispieltext</p>
            </div>
        </o-wrapper>
    </o-body-style>
</o-wrapper>
<div class="spacer"></div>
<o-wrapper namespace=wrapper-teaser->
    <o-body-style background-color=var(--color-quinary) color=var(--m-white)>
        <o-wrapper href="/">
            <a-picture namespace="picture-scale-up-" hover-on-parent-shadow-root-host
                defaultSource="https://dummyimage.com/150x214/000/fff" alt="Jcr Content">
            </a-picture>
            <div width="67%">
                <p class="font-family-tertiary">Fabio Serratore</p>
                <h2 class="line-height-one-em">TECHNICAL PRODUCT OWNER</h2>
                <p class="font-family-tertiary">Beispieltext</p>
            </div>
        </o-wrapper>
    </o-body-style>
</o-wrapper>