<div class="spacer"></div>
<div>
    <h2 class="bg-color font-size-big font-family-tertiary">
        Erste Seite Online
    </h2>
</div>
<m-carousel-two history active=11 namespace=carousel-two-default- background-color="var(--m-gray-300)" nav-align-self="end">
    <section>
      <a-picture picture-load defaultSource="../../../../img/blog_migros_presents.png" alt="Presenting"></a-picture>
      <a-picture picture-load defaultSource="../../../../img/blog_highlights.png" alt="Highlights"></a-picture>
      <a-picture picture-load defaultSource="../../../../img/blog_tickets.png" alt="Tickets"></a-picture>
    </section>
  </m-carousel-two>
<p class="font-family-tertiary">
    Am 31. Mai 2021 durften wir den den ersten Webauftritt auf Basis des MUTOBO-Frameworks live schalten.
</p>
<div>
    <p class="font-family-tertiary">Nach einem erfolgreichen Projektabschluss durften wir am Montag den 31. Mai 2021 den neuen Auftritt von
        <a href="https://www.migros-kulturprozent-classics.ch">www.migros-kulturprozent-classics.ch</a>. Nachdem das
        kleine Geschwisterchen <a href="https://www.club-konzerte.ch">www.club-konzerte.ch</a> bereits einige
        Wochen zuvor in als Onepager in sehr kurzer Zeit realisiert wurde, konnten wir jetzt im Rahmen des etwas
        grösseren Projektes unser Framework perfektionieren. Das Resultat ist ein zufriedener Auftraggeber, genau so
        zufriedene Content Autoren und ein stolzes Team.
    </p>
    <p class="font-family-tertiary">Wir möchten allen, die das Projekt unterstützt, begleitet und ermöglicht haben Danke sagen. Und hoffen auf noch
        viel mehr Aufträge für MUTOBO. </p>
</div>