<div class="spacer"></div>
<div>
    <h2 class="bg-color font-size-big font-family-tertiary">
        Blog
    </h2>
    <h3 class="font-family-tertiary">Hier findest du die neusten News über MUTOBO</h3>
</div>
<o-wrapper namespace="wrapper-teaser-">
    <o-body-style background-color=#064680 color=var(--m-white) h-color=var(--m-white)>
        <o-wrapper href="./MutoboBlog-1.html">
            <div width="67%">
                <p class="font-family-tertiary">04.06.2021</p>
                <h2 class="font-family-tertiary">Erste Seite Online</h2>
                <h3 class="font-family-tertiary">Roland Schenk</h3>
                <h3 class="line-height-one-em font-family-tertiary">Am 31. Mai 2021 durften wir den den ersten Webauftritt auf Basis des
                    MUTOBO-Frameworks live schalten.
                </h3>
            </div>
        </o-wrapper>
    </o-body-style>
</o-wrapper>