<div class="spacer-one"></div>
<div>
    <h2 class="bg-color font-size-big font-family-tertiary">
        Willkommen bei Mutobo
    </h2>
</div>
<div class="spacer-one"></div>
<article>
    <p class="font-family-tertiary">MUTOBO entstand aus der Basis des von Roland Schenk entwickelten Basisframeworks für
        das .NET-Opensource CMS
        Umbraco. Im Zuge von Lehrlingsausbildung und persönlichem Interesse wurde MUTOBO stetig weiterentwickelt und als
        sich die Möglichkeit ergab konnten wir aus dem Prototyp eine finale Version entwickeln und eine erste Website
        auf Basis von MUTOBO releasen.</p>
    <p class="font-family-tertiary">MUTOBO basiert vollständig auf Open Source Technologie und somit haben wir
        beschlossen, alles nicht sensible und
        Kundenspezifische, der Community als Open Source Technologie zurückzugeben.</p>
    <p class="font-family-tertiary">Zurzeit besteht das MUTOBO-Core Team lediglich aus Mitarbeitern des
        Migros-Genossenschaft-Bundes, doch bei Open
        Source kann mitentwickeln wer will.</p>
    <p>
    <p class="font-family-tertiary">Also falls wir dein Interesse geweckt haben, dann besuch uns doch auf github.</p>

    <a class="font-family-tertiary" href="https://github.com/mits-gossau/MUTOBO" target="_blank">Mutobo auf GitHub</a>
    <br>
    <a class="font-family-tertiary" href="https://github.com/mits-gossau/web-components-cms-template"
        target="_blank">Web-Components-cms-template</a>

    </p>
</article>