<o-grid namespace="grid-2colums2rows-" first-container-horizontal>
    <o-grid namespace="grid-2colums2rows-" first-container-horizontal>
        <m-tag-filter namespace="tag-filter-horizontal-">
            <a-button namespace="button-category-" answer-event-name="list-news" request-event-name="request-list-news" active-detail-property-name="fetch:tag" tag="Alnatura">Alle News</a-button>
            <a-button namespace="button-category-" answer-event-name="list-news" request-event-name="request-list-news" active-detail-property-name="fetch:tag" tag="Aktionen">Aktionen</a-button>
            <a-button namespace="button-category-" answer-event-name="list-news" request-event-name="request-list-news" active-detail-property-name="fetch:tag" tag="Aktuelles">Aktuelles</a-button>
            <a-button namespace="button-category-" answer-event-name="list-news" request-event-name="request-list-news" active-detail-property-name="fetch:tag" tag="neueroeffnungen-events"> <button type="button"> <span id="label">Neueröffnungen & Events</span> </button> </a-button>
            <a-button namespace="button-category-" answer-event-name="list-news" request-event-name="request-list-news" active-detail-property-name="fetch:tag" tag="Warenrückrufe">Warenrückrufe</a-button>
            <a-button namespace="button-category-" answer-event-name="list-news" request-event-name="request-list-news" active-detail-property-name="fetch:tag" tag="interviews-kolumne">Interviews & Kolumnen</a-button>
        </m-tag-filter>
        <m-pagination answer-event-name="list-news" request-event-name="request-list-news" namespace="pagination-default-"></m-pagination>
    </o-grid>
    <contentful-news-list answer-event-name="list-news" request-event-name="request-list-news"
        namespace="news-list-default-"
        news-url="/src/es/components/web-components-toolbox/docs/Template.html?rootFolder=src&css=/src/css/variablesCustom.css&logo=/src/es/components/atoms/logo/default-/default-.html&nav=/src/es/components/molecules/navigation/default-/default-.html&footer=/src/es/components/organisms/footer/default-/default-.html&content=/src/es/components/pages/News.html"
        news-preview-namespace="">
    </contentful-news-list>
</o-grid>