/**
  * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
  * NOTE: Within the component don't use any name spacing eg. component header don't use --header-default-color just use --color the namespace can be added by the Shadow as an html attribute
  * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
  * - if a component holds other components you should share the attribute namespace with its children
  */
/* font tracking */
@import url("https://cdn.fonts.net/t/1.css?apiType=css&projectid=8121ed97-d402-4592-a434-4e2ce73b1534");

/* custom migropro fonts */
@font-face {
	font-family: "HelveticaNowText";
	src: url("https://cdn.migros.ch/ch.migros/static/fonts/helvetica-now/HelveticaNowTextW05-Regular.woff2") format("woff2"), url("https://cdn.migros.ch/ch.migros/static/fonts/helvetica-now/HelveticaNowTextW05-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "HelveticaNowTextBold";
	src: url("https://cdn.migros.ch/ch.migros/static/fonts/helvetica-now/HelveticaNowTextW05-Bold.woff2") format("woff2"), url("https://cdn.migros.ch/ch.migros/static/fonts/helvetica-now/HelveticaNowTextW05-Bold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
	--any-margin-top-first-child:calc(var(--content-spacing) * 2);
	--button-category-background-color-custom:var(--m-gray-100);
	--button-category-background-color-hover-custom:var(--m-gray-300);
	--button-category-color-active-custom:var(--m-white);
	--button-category-color-custom:var(--m-black);
	--button-category-color-hover-custom:var(--m-black);
	--font-family-bold: HelveticaNowTextBold, HelveticaNowText, Helvetica, Arial, sans-serif;
	--font-family-secondary: var(--font-family-bold);
	--font-family: HelveticaNowText, Helvetica, Arial, sans-serif;
	--footer-default-invert-background-color-custom:var(--m-black);
	--footer-default-invert-orange-background-color-custom:var(--color-secondary);
	--header-default-background-color-custom: var(--m-black);
	--header-default-content-width: max(calc(1200px - var(--content-spacing) * 2), var(--content-width));
	--header-default-content-width:90% !important;
	--header-default-logo-width-custom: 15vw;
	--header-default-margin-custom:calc(var(--content-spacing) / 2) 0 var(--content-spacing) 0;
	--picture-store-logo-img-max-width:5em;
	/* --- */
	--navigation-alnatura-not-open-color-active-custom:var(--m-white);
	--navigation-alnatura-not-open-color-hover-custom:var(--m-white);
	
}